<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Leave Head Information</h4>
            <div [hidden]="formDisplay">
                <form action="" [formGroup]="leaveHeadForm">
                    <div class="col-12">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field form-group col-12 md:col-6">
                                <label pTooltip="Leave Name" tooltipPosition="top">Leave Name<span class="req">*</span> </label>
                                <input id="lastname2" type="text" class="from-control" formControlName="head_name"
                                       [ngClass]="{ 'is-invalid': submitted && f.head_name.errors }"
                                       placeholder="" pInputText required />

                                <div *ngIf="submitted && f.head_name.errors" class="invalid-feedback">
                                    <small *ngIf="f.head_name.errors.required" class="p-error">Leave Name is required</small>

                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label pTooltip="Short Name" tooltipPosition="top"> Short Name<span class="req">*</span> </label>
                                <input id="lastname2" type="text" formControlName="leave_head_short_name"
                                       [ngClass]="{ 'is-invalid': submitted && f.leave_head_short_name.errors }"
                                       placeholder="" pInputText required />

                                <div *ngIf="submitted && f.leave_head_short_name.errors" class="invalid-feedback">
                                    <small *ngIf="f.leave_head_short_name.errors.required" class="p-error">Short Name is required</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label pTooltip="Leave Type" tooltipPosition="top">Leave Type<span class="req">*</span></label>
                                <p-dropdown [options]="leaveTypes" formControlName="leave_type_id_enum"
                                            [ngClass]="{ 'is-invalid': submitted && f.leave_type_id_enum.errors }" placeholder="---Select---"
                                            optionLabel="leave_type_enum_name" optionValue="leave_type_id_enum" [showClear]="true" [filter]="true" filterBy="leave_type_enum_name"></p-dropdown>

                                <div *ngIf="submitted && f.leave_type_id_enum.errors" class="invalid-feedback">
                                    <small *ngIf="f.leave_type_id_enum.errors.required" class="p-error">Leave Type is required</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label pTooltip="Required For*" tooltipPosition="top">Required For<span class="req">*</span></label>
                                <p-dropdown [options]="requiredFor" formControlName="required_for_id_enum"
                                            [ngClass]="{ 'is-invalid': submitted && f.required_for_id_enum.errors }" placeholder="---Select---"
                                            optionLabel="required_for_enum_name" optionValue="required_for_id_enum" [showClear]="true" [filter]="true" filterBy="required_for_enum_name"></p-dropdown>

                                <div *ngIf="submitted && f.required_for_id_enum.errors" class="invalid-feedback">
                                    <small *ngIf="f.required_for_id_enum.errors.required" class="p-error">Required For is required</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label pTooltip="Name In Local" tooltipPosition="top">Name In Local </label>
                                <input id="lastname2" type="text" formControlName="name_in_local_language" placeholder="" pInputText />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label pTooltip="Remarks" tooltipPosition="top">Remarks </label>
                                <input id="lastname2" type="text" formControlName="remarks" placeholder="" pInputText />
                            </div>

                        </div>
                    </div>
                    <div class="flex justify-content-end pr-2">
                        <button pButton pRipple type="button" label="Save" (click)="saveLeaveHead()" class="risBtn risSave mr-2 mb-2" icon="pi pi-check"></button>
                        <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                    </div>
                </form>
            </div>

            <div [hidden]="gridDisplay">
                <button pButton pRipple type="button" label="New" (click)="showBasicDialog()" icon="pi pi-plus" class="risBtn risAdd mr-2 mb-2"></button>
                <button pButton pRipple type="button" label="Edit" (click)="loadLeaveHeadToEdit()" icon="pi pi-pencil" class="risBtn risEdit mr-2 mb-2"></button>
                <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" class="risBtn risDelete mr-2 mb-2" (click)="deleteModal($event)"> </button>
                <p-confirmPopup key="delete"></p-confirmPopup>
                <p-table [value]="leaveHeads" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" [paginator]="true" [rows]="10" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [(selection)]="selectedLeaveHead" dataKey="LeaveHeadId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Leave Head</th>
                            <th>Leave Type</th>
                            <th>Required For</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-leaveHead>
                        <tr [pSelectableRow]="leaveHead">
                            <td>{{leaveHead.HeadName}}</td>
                            <td>{{leaveHead.LeaveTypeName}}</td>
                            <td>{{leaveHead.RequiredFor}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>




<!--<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-OT Policy"> </span>Leave Head Information
    </div>
    <div class="p-card-body">-->
<!--********** start card body ********************-->
<!--<div class="card">



  <div class="card-body">

    <p-fieldset legend={{header}} [collapsed]="collapsed" (onBeforeToggle)="toggle()" [toggleable]="true">
      <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
        <p>Do you want to delete this record?</p>
        <ng-template pTemplate="footer">
          <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
          <button class="pi pi-check risBtn risSave" (click)="deleteLeaveHead()"> Yes</button>
        </ng-template>
      </p-dialog>
      <form action="" [formGroup]="leaveHeadForm">
        <div class="p-fluid grid col-12 flex flex-wrap card-container">
          <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
            <div class="col-4 mt-2 text-right">
              <label for="" class=" d-md-inline-flex" pTooltip="Leave Name" tooltipPosition="top">Leave Name<span class="req">*:</span> </label>
            </div>
            <div class="col-8 p-fluid">
              <span class="p-float-label">
                <input id="float-input p-fluid" type="text" formControlName="head_name" placeholder="Leave Name" pInputText required>
              </span>
            </div>
          </div>
          <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
            <div class="col-3 mt-2 text-right">
              <label for="" class=" d-md-inline-flex">Short Name*:</label>
            </div>
            <div class="col-8 p-fluid">
              <span class="p-float-label">
                <input id="float-input p-fluid" type="text" formControlName="leave_head_short_name" placeholder="Short Name" pInputText>
              </span>
            </div>

          </div>

          <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
            <div class="col-4 mt-2 text-right">
              <label for="" class=" d-md-inline-flex">Leave Type*:</label>
            </div>
            <div class="col-8 p-fluid">
              <span class="p-float-label  ">
                <p-dropdown [options]="leaveTypes" [(ngModel)]="selectedLeaveType" formControlName="leave_type_id_enum" placeholder="Select Leave Types"
                            optionLabel="leave_type_enum_name" optionValue="leave_type_id_enum" [showClear]="true"></p-dropdown>

              </span>
            </div>

          </div>
          <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
            <div class="col-3 mt-2 text-right">
              <label for="" class=" d-md-inline-flex">Required For*:</label>
            </div>
            <div class="col-8 p-fluid">
              <span class="p-float-label  ">
                <p-dropdown [options]="requiredFor" [(ngModel)]="selectedrequiredFor" formControlName="required_for_id_enum" placeholder="Select Type"
                            optionLabel="required_for_enum_name" optionValue="required_for_id_enum" [showClear]="true"></p-dropdown>

              </span>
            </div>

          </div>
          <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
            <div class="col-4 mt-2 text-right">
              <label for="" class=" d-md-inline-flex">Name In Local:</label>
            </div>
            <div class="col-8 p-fluid">
              <span class="p-float-label">
                <input id="float-input p-fluid" type="text" formControlName="name_in_local_language" placeholder="Name in Local Language" pInputText>
              </span>

            </div>

          </div>


          <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
            <div class="col-3 mt-2 text-right">
              <label for="" class=" d-md-inline-flex">Remarks:</label>
            </div>
            <div class="col-8 p-fluid">
              <span class="p-float-label">

                <textarea rows="1" id="float-input p-fluid" formControlName="remarks" class="inputfield w-full" cols="50" pInputTextarea></textarea>
              </span>
            </div>
          </div>




          <div class="p-fluid grid col-11 mt-2 ml-4 flex justify-content-end flex-wrap card-container">



            <button type="submit" class="pi pi-save risBtn risSave mr-2" (click)="saveLeaveHead()"> Save</button>
            <button class="pi pi-times risBtn risClose mr-2" (click)="clear()"> Close</button>


          </div>


        </div>

      </form>

    </p-fieldset>

    <p-fieldset legend="Leave Head List"  [collapsed]="collapsedLeaveHeadList" (onBeforeToggle)="toggle()" [toggleable]="true">
      <div class="grid mb-2">
        <button class="pi pi-plus risBtn risAdd mr-2 " (click)="btnNew()"> New</button>
        <button class="pi pi-pencil risBtn risEdit mr-2 " (click)="loadLeaveHeadToEdit()"> Edit</button>
        <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>

      </div>
      <p-table [value]="leaveHeads" dataKey="LeaveHeadId" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedLeaveHead" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

        <ng-template pTemplate="header">
          <tr>
            <th>Leave Head</th>
            <th>Leave Type</th>
            <th>Required For</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-leaveHead>
          <tr [pSelectableRow]="leaveHead">
            <td>{{leaveHead.HeadName}}</td>
            <td>{{leaveHead.LeaveTypeName}}</td>
            <td>{{leaveHead.RequiredFor}}</td>

          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>-->
<!--************************start grid ************************-->
<!--<p-table [value]="Holidays" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedHolidays" dataKey="holiday_id" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

  <ng-template pTemplate="header">
    <tr>
      <th>Holiday</th>
      <th>Type Of Holiday</th>
      <th>Days Of Month</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-holiday>
    <tr [pSelectableRow]="holiday">
      <td>{{holiday.holiday_name}}</td>
      <td>{{holiday.holidayTypeName}}</td>
      <td>{{holiday.days_of_month}}</td>
    </tr>
  </ng-template>
</p-table>-->
<!--</div>-->
<!--********** end card body ********************-->
<!--</div>
    </div>
  </div>
</div>-->
