<div class="grid ">
    <div class="col-12 ">
        <div class="card">
            <h4>Shift Break Head</h4>
            <div class="grid mb-2 mt-4">

                <form action="" [formGroup]="shiftbreakForm">

                    <span class="p-input ml-2 mr-2">
                        <input id="lastname2" type="text" style="width:450px" maxlength="50"placeholder="Enter shift break name and press add button to save" class="from-control" formControlName="head_name" pInputText />

                    </span>

                    <button pButton pRipple type="button" label="Add" (click)="saveShiftBreak()" icon="pi pi-plus" class="risBtn risAdd mr-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" class="risBtn risDelete mr-2 mb-2" (click)="deleteModal($event)"> </button>
                    <button pButton pRipple type="button" label="Activity" icon="pi pi-box" (click)="shiftBreakActivity()" class="risBtn risAll mr-2 mb-2"> </button>
                    <p-confirmPopup key="delete"></p-confirmPopup>
                </form>
            </div>
            <!--end form display------------->

            <p-table [value]="shiftBreaks" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedBreaks" dataKey="shift_break_head_id" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Break Name</th>
                        <th>Activity</th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-break>
                    <tr [pSelectableRow]="break">
                        <td>{{break.head_name}}</td>
                        <td *ngIf="break.is_active===true">{{"Active"}}</td>
                        <td *ngIf="break.is_active===false">{{"InActive"}}</td>

                    </tr>
                </ng-template>
            </p-table>
            <!--end grid display -------------->
        </div>



        </div>
    </div>


