<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-voucherTypes"> </span> Shift Break Head
    </div>
    <div class="p-card-body">
      <!--********** start card body ********************-->

      <div class="card">
        <div class="grid mb-2">

          <form action="" [formGroup]="shiftbreakForm">
           
                <span class="p-input mr-1 ml-2">
                  <input id="float-input p-fluid" type="text" maxlength="50" style="width:350px" formControlName="head_name" placeholder="Enter shift break name and press add button to save" pInputText required>
                </span>
        
              
                <button class="pi pi-plus risBtn risAdd mr-2 ml-2" (click)="saveShiftBreak()"> Add</button>
                <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
                <button class="pi pi-box risBtn risAll mr-2"(click)="shiftBreakActivity()" > Activity</button>

             </form>
          
        </div>
        <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
          <p>Do you want to delete this record?</p>
          <ng-template pTemplate="footer">
            <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
            <button class="pi pi-check risBtn risSave" (click)="deleteShiftBreak()"> Yes</button>
          </ng-template>
        </p-dialog>

        <div class="card-body">

          <!--************************start grid ************************-->
          <p-table [value]="shiftBreaks" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedBreaks" dataKey="shift_break_head_id" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

            <ng-template pTemplate="header">
              <tr>
                <th>Break Name</th>
                <th>Activity</th>
              

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-break>
              <tr [pSelectableRow]="break">
                <td>{{break.head_name}}</td>
                <td *ngIf="break.is_active===true">{{"Active"}}</td>
                <td *ngIf="break.is_active===false">{{"InActive"}}</td>

              </tr>
            </ng-template>
          </p-table>

        </div>

        <!--********** end card body ********************-->

      </div>
    </div>
  </div>
</div>
