<div class="p-card">

    <div class="me-auto">
        <div class="p-card-title ">
            <span class="pi pi-documentTypes"> </span> Document Type
        </div>
        <div class="p-card-body">
            <!-- ********** start card body ******************** -->

            <div class="card">
                <div class="grid mb-2">
                    <button class="pi pi-plus risBtn risAdd mr-2" (click)="showBasicDialog()"> New</button>
                    <button class="pi pi-pencil risBtn risEdit mr-2" (click)="loadDocumentTypeToEdit()"> Edit</button>
                    <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
                </div>

                <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
                    <p>Do you want to delete this record?</p>
                    <ng-template pTemplate="footer">
                        <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                        <button class="pi pi-check risBtn risSave" (click)="deleteRegulatorInfo()"> Yes</button>
                    </ng-template>
                </p-dialog>

                <div class="card-body">

                    <p-dialog header="Document Type" [(visible)]="displayBasic" [draggable]="true" [resizable]="false" [style]="{width: '40vw'}">
                        <form action="" [formGroup]="documentTypeForm">
                            <div class="">


                                <div class="p-fluid grid col-12">
                                    <div class="col-4 mt-2 text-right">
                                        <label for="" class=" d-none d-md-inline-flex">Country <span class="req">*</span> :</label>
                                    </div>
                                    <div class="col-8 p-fluid">
                                        <span class="p-float-label">
                                            <p-dropdown [options]="allCountry" [(ngModel)]="selectedCountry" formControlName="country_id" placeholder="Select Country"
                                                        optionLabel="country_name" optionValue="country_id"></p-dropdown>
                                        </span>
                                    </div>
                                </div>

                                <div class="p-fluid grid col-12">
                                    <div class="col-4 mt-2 text-right">
                                        <label for="" class=" d-none d-md-inline-flex">Document Type Name<span class="req">*</span> :</label>
                                    </div>
                                    <div class="col-8 p-fluid">
                                        <span class="p-float-label">
                                            <input id="float-input p-fluid" formControlName="document_type_name" type="text" placeholder="Document Type Name" pInputText autocomplete="off">
                                        </span>
                                    </div>
                                </div>




                                <div class="p-fluid grid col-12">
                                    <div class="col-4 mt-2 text-right">
                                        <label for="" class=" d-none d-md-inline-flex">Remarks: </label>

                                    </div>
                                    <div class="col-8 p-fluid">
                                        <span class="p-float-label">
                                            <input id="float-input p-fluid" formControlName="remarks" type="text" placeholder="Remarks" pInputText>
                                        </span>
                                    </div>
                                </div>


                            </div>

                        </form>
                        <ng-template pTemplate="footer">
                            <button type="submit" class="pi pi-save risBtn risSave" (click)="onFormSubmit()"> Save</button>
                            <button class="pi pi-times risBtn risClose" (click)="displayBasic=false"> Close</button>
                        </ng-template>
                    </p-dialog>
                    <!-- ************************start grid ************************ -->

                    <p-table [value]="documentTypes" dataKey="document_type_id" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedDocumentType" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Document Type Name</th>
                                    <th>Country</th>
                                    <th>Remarks</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-documentType>

                                <tr [pSelectableRow]="documentType">
                                    <td>{{documentType.document_type_name}}</td>
                                    <td>{{documentType.country_name}}</td>
                                    <td>{{documentType.remarks}}</td>
                                </tr>
                            </ng-template>
                        </p-table>


</div>

                <!-- ********** end card body ******************** -->

            </div>
        </div>
    </div>
</div>


