<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-voucherTypes"> </span> Holiday Information
    </div>
    <div class="p-card-body">
      <!--********** start card body ********************-->

      <div class="card">
        <div class="grid mb-2">
          <button class="pi pi-plus risBtn risAdd mr-2 ml-2" (click)="showBasicDialog()"> New</button>
          <button class="pi pi-pencil risBtn risEdit mr-2 " (click)="loadHolidayToEdit()"> Edit</button>
          <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
        </div>
        <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
          <p>Do you want to delete this record?</p>
          <ng-template pTemplate="footer">
            <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
            <button class="pi pi-check risBtn risSave" (click)="deleteHoliday()"> Yes</button>
          </ng-template>
        </p-dialog>

        <div class="card-body">

          <p-dialog header={{header}} maskStyleClass="xl-dialog" [(visible)]="displayBasic" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vw',height:'25vw'}" [baseZIndex]="10000" [maximizable]="true">
            <form action="" [formGroup]="holidayForm">



              <div class="p-fluid grid col-12 flex justify-content-end flex-wrap card-container">
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex" pTooltip="Holiday Name" tooltipPosition="top">Holiday Name<span class="req">*:</span> </label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="holiday_name" placeholder="Holiday Name" pInputText required>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Name In Local:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="name_in_local_language" placeholder="Name In Local Language" pInputText>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Holiday Type:</label>
                  </div>
                  <div class="col-8 p-fluid  z-1">
                    <span class="p-float-label  ">
                      <p-dropdown [options]="holidayTypes" [(ngModel)]="selectedHoliday" formControlName="type_of_holiday_id_enum" placeholder="Select Holiday Types"
                                  optionLabel="type_of_holiday_enum_name" optionValue="type_of_holiday_id_enum" [showClear]="true"></p-dropdown>

                    </span>
                  </div>
                </div>



                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Days Of Month:</label>
                  </div>
                  <div class="col-4 p-fluid  z-1">
                    <span class="p-float-label  ">
                      <p-dropdown [options]="days" formControlName="selectedday" placeholder="Select Holiday Types"
                                  optionLabel="name" optionValue="id" [showClear]="true"></p-dropdown>

                    </span>
                  </div>
                  <div class="col-4 p-fluid  z-1">
                    <span class="p-float-label  ">
                      <p-dropdown [options]="months" formControlName="selectedmonth" placeholder="Select Holiday Types"
                                  optionLabel="name" optionValue="id" [showClear]="true"></p-dropdown>

                    </span>
                  </div>
                </div>

                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Remarks:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">

                      <textarea rows="1" id="float-input p-fluid" formControlName="remarks" class="inputfield w-full" cols="50" pInputTextarea></textarea>
                    </span>
                  </div>
                </div>

                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">

                </div>
              </div>

            </form>
            <ng-template pTemplate="footer">
              <button type="submit" class="pi pi-save risBtn risSave" (click)="SaveHoliday()"> Save</button>
              <button class="pi pi-times risBtn risClose" (click)="closeModal()"> Close</button>
            </ng-template>
          </p-dialog>
          <!--************************start grid ************************-->
          <p-table [value]="Holidays" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedHolidays" dataKey="holiday_id" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

            <ng-template pTemplate="header">
              <tr>
                <th>Holiday</th>
                <th>Type Of Holiday</th>
                <th>Days Of Month</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-holiday>
              <tr [pSelectableRow]="holiday">
                <td>{{holiday.holiday_name}}</td>
                <td>{{holiday.holidayTypeName}}</td>
                <td>{{holiday.days_of_month}}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>

        <!--********** end card body ********************-->

      </div>
    </div>
  </div>
</div>
