<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-users"> </span> Reset Password
    </div>
    <div class="p-card-body">
      <!-- ********** start card body ******************** -->



  

      <form [formGroup]="resetpasswordForm">



        <div class="p-fluid grid col-8">
          <div class="col-4 mt-2 text-right">
            <label for="" class=" d-none d-md-inline-flex">Password :</label>
          </div>
          <div class="col-6 p-fluid">
            <span class="p-float-label">
              <input id="float-input p-fluid" formControlName="Password" type="password" placeholder="Password" pInputText>
              <!-- <p-password [(ngModel)]="values3" [toggleMask]="true"></p-password> -->

            </span>
          </div>
        </div>


        <div class="p-fluid grid col-8">
          <div class="col-4 mt-2 text-right">
            <label for="" class=" d-none d-md-inline-flex">Confirm Password :</label>
          </div>
          <div class="col-6 p-fluid">
            <span class="p-float-label">
              <input id="float-input p-fluid" formControlName="ConfirmPassword" type="password" placeholder="Confirm Password"
                     pInputText>
            </span>
          </div>
          <div class="col-4 mt-2 text-right">
          
          </div>
          <div class="col-6 p-fluid">
            <button type="submit" class="pi pi-save risBtn risSave" (click)="resetPassword()"> Reset</button>
          </div>
        </div>
       
    
      </form>
   

  









      <!-- ********** end card body ******************** -->

    </div>
  </div>
</div>
