<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-OT Policy"> </span>Absenteeism Policy
    </div>
    <div class="p-card-body">
      <!--********** start card body ********************-->

      <div class="card">



        <div class="card-body">


          <p-fieldset legend={{header}} [collapsed]="collapsed" (onBeforeToggle)="toggle()" [toggleable]="true">
            <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
              <p>Do you want to delete this record?</p>
              <ng-template pTemplate="footer">
                <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                <button class="pi pi-check risBtn risSave" (click)="deleteAbsenteeismPolicy()"> Yes</button>
              </ng-template>
            </p-dialog>
            <p-dialog header="Approve Record" [(visible)]="displayApprove" [style]="{width: '35vw'}">
              <p>Do you want to approve this record?</p>
              <ng-template pTemplate="footer">
                <button class="pi pi-times risBtn risClose" (click)="displayApprove=false"> No</button>
                <button class="pi pi-check risBtn risSave" (click)="policyApprove()"> Yes</button>
              </ng-template>
            </p-dialog>
            <form action="" [formGroup]="AbsenteeismPolicyForm">
              <div class="p-fluid grid col-12 flex flex-wrap card-container">
                <div class="grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-1 text-right">
                    <label for="" class=" d-md-inline-flex" pTooltip="Name" tooltipPosition="top">Name<span class="req">*:</span> </label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="absenteeism_policy_name" placeholder="Policy Name" pInputText required>
                    </span>
                  </div>
                </div>
                <div class="grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-1 text-right">
                    <label for="" class=" d-md-inline-flex" pTooltip="code" tooltipPosition="top">Code<span class="req">*:</span> </label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" disabled="disabled" formControlName="code" placeholder="Code" pInputText required>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container pr-4">
                  <div class="col-2 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Remarks:</label>
                  </div>
                  <div class="col-10 pr-md-5 p-fluid">

                    <textarea rows="1" id="float-input flex p-fluid" formControlName="remarks" class="inputfield w-full" cols="50" pInputTextarea></textarea>

                  </div>
                </div>

                <div class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container">
                  <div class="col-2 p-fluid ">

                  </div>
                  <div class="col-10 p-fluid ">
                    <p-checkbox name="group" formControlName="is_leave_adjustment"  binary="true" pl-1></p-checkbox>
                    <label for=""  class=" d-md-inline-flex  pl-2">Leave Adjustment as per deduction priority.System will apply leave automatically</label>
                  </div>

                </div>
                <div class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container">
                  <div class="col-2 p-fluid ">

                  </div>
                  <div class="col-10 p-fluid ">
                    <label for="" pl class=" d-md-inline-flex">
                      If there is no sufficient leave balance or no leave adjustment is declared,system will deduct from salary if user configure "Salary Adjustment" 
                    </label>
                  </div>
                </div>




                <div class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container">
                  <div class="col-2 p-fluid ">

                  </div>
                  <div class="col-4 p-fluid ">
                    <p-checkbox name="group" formControlName="is_monetary_benefit" (onChange)="onMonetaryBenefitChange($event)" binary="true" pl-1></p-checkbox>
                    <label for="" style="font-weight: bold;" class=" d-md-inline-flex  pl-2">Salary Adjustment(Deduction)</label>
                  </div>

                </div>
                <div *ngIf="isShownMonetaryBenefit" class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container">
                  <div class="col-2 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Salary Head:</label>
                  </div>
                  <div class="col-3 p-fluid">

                    <p-dropdown [options]="salaryheads" formControlName="salary_head_id" placeholder="Select Salary Head"
                                optionLabel="salary_head_name" optionValue="salary_head_id" [showClear]="true"></p-dropdown>

                  </div>
                  <div class="col-5 mt-1 text-left">
                    <label for="" class=" d-md-inline-flex">Amount will be deducted under the salary head.</label>
                  </div>
                </div>
                <div *ngIf="isShownMonetaryBenefit" class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container pr-5">
                  <div class="col-2 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Daily:</label>
                  </div>


                  <div class="col-1 p-fluid">

                    <input id="float-input p-fluid" type="text" (input)="checkPercentageAmount()" formControlName="percent_value" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" placeholder="Percentage" pInputText>

                  </div>
                  <div class="col-1 mt-1 text-left">
                    <label for="" class=" d-md-inline-flex">% of</label>
                  </div>
                  <div class="col-2 mt-1 text-left">
                    <div class="field-checkbox">
                      <p-checkbox name="group" (onChange)="checkIsGross()" formControlName="is_gross" binary="true"></p-checkbox>
                      <label [for]="">Gross    Or</label>
                    </div>
                  </div>
                  <div *ngIf="isbasichead" class="col-3 p-fluid text-left">

                    <p-dropdown [options]="basicsalaryheads" [(ngModel)]="selectedBasicSalaryHead" formControlName="basic_salary_head_id"
                                optionLabel="basic_salary_head_name" optionValue="basic_salary_head_id" [showClear]="true"></p-dropdown>

                  </div>
                  <div *ngIf="isbasichead" class="col-3 mt-1 text-left">
                    <label for="" class=" d-md-inline-flex">will be deducted.</label>
                  </div>
                </div>





                <div class="p-fluid grid col-11 mt-2 ml-4 flex justify-content-end flex-wrap card-container">


                  <button type="submit" class="pi pi-save risBtn risSave mr-2" (click)="saveAbsenteeismPolicy()">Save</button>
                  <button class="pi pi-times risBtn risClose mr-2" (click)="clear()"> Clear</button>


                </div>
              </div>

            </form>

          </p-fieldset>
          <p-fieldset legend="Absenteeism Policy List" [collapsed]="collapsedAbsenteeismList" (onBeforeToggle)="toggle()" [toggleable]="true">

            <!--<div class="grid mb-4">
              <form [formGroup]="shiftSearchForm">
                <span class="p-input-icon-right mr-2">
                  <i class="pi pi-search cursor-pointer" (click)="shiftSearch()"></i>
                  <input type="text" id="user_info_search" formControlName="shift_name" (keyup.enter)="shiftSearch()" style="width:350px" pInputText placeholder="Search By- Any">
                </span>



              </form>


            </div>-->

            <div class="grid mb-2">
              <button class="pi pi-plus risBtn risAdd mr-2 " (click)="btnNew()"> New</button>
              <button class="pi pi-pencil risBtn risEdit mr-2 " (click)="loadAbsenteeismPolicyToEdit()"> Edit</button>
              <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
              <button class="pi pi-box risBtn risAll mr-2"> Activity</button>
              <button class="pi pi-box risBtn risAll mr-2" (click)="approveConfirm()"> Approve</button>
            </div>
            <p-table [value]="AbsenteeismPolicies" dataKey="absenteeism_policy_id" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedPolicy" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

              <ng-template pTemplate="header">
                <tr>
                  <th>Policy Name</th>
                  <th>Leave Adjustment</th>
                  <th>Salary Adjustment</th>
                  <th>Approved By</th>
                  <th>Activity</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-policy>
                <tr [pSelectableRow]="policy">
                  <td>{{policy.absenteeism_policy_name}}</td>
                  <td *ngIf="policy.is_leave_adjustment===true">{{"YES"}}</td>
                  <td *ngIf="policy.is_leave_adjustment===false">{{"NO"}}</td>
                  <td>{{policy.salary_adjustment}}</td>
                  <td>{{policy.approvedBy}}</td>
                  <td *ngIf="policy.is_active===true">{{"Active"}}</td>
                  <td *ngIf="policy.is_active===false">{{"InActive"}}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-fieldset>


        </div>

        <!--********** end card body ********************-->

      </div>
    </div>
  </div>
</div>
