<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Dealer Information</h4>

            <!--selectionMode="single"-->

            <!--end form display------------->
            <div [hidden]="gridDisplay">
                <p-table #dt [value]="dealerinfoList" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [(selection)]="selecteddealerinfo" dataKey="DealerInfoId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['DealerInfoCode','DealerInfoName']" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search by any" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="Code">
                                Dealer Code
                                <p-columnFilter type="text" field="DealerInfoCode" display="menu"></p-columnFilter>
                                <p-sortIcon field="Code"></p-sortIcon>
                            </th>
                            <th pSortableColumn="DealerinfoName">
                                Dealer Name
                                <p-columnFilter type="text" field="DealerinfoName" display="menu"></p-columnFilter>
                            </th>
                            <th pSortableColumn="PersonalPhone">Mobile</th>
                            <th pSortableColumn="PersonalEmail">Email</th>
                            <th pSortableColumn="PresentAddressNote">Address</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dealerinfo let-rowData>
                        <tr [pSelectableRow]="dealerinfo">
                            <td hidden>{{dealerinfo.DealerInfoId}}</td>
                            <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td>{{dealerinfo.DealerInfoCode}}</td>
                            <td>{{dealerinfo.DealerInfoName}}</td>
                            <td>{{dealerinfo.Mobile}}</td>
                            <td>{{dealerinfo.Email}}</td>
                            <td>{{dealerinfo.AddressNote}}</td>
                            <td *ngIf="dealerinfo.IsActive===true">{{"Active"}}</td>
                            <td *ngIf="dealerinfo.IsActive===false">{{"In Active"}}</td>
                        </tr>
                    </ng-template>

                </p-table>
                <!--end grid display -------------->
            </div>

            <form action="" [formGroup]="dealerassignForm">
                <div class="col-12">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field md:col-3">
                            <label pTooltip="Department" tooltipPosition="top">Department<span class="req">*</span></label>
                            <p-dropdown [options]="allDepartment" formControlName="department_id" [ngClass]="{ 'is-invalid': submitted && d.department_id.errors }" placeholder="---Select---"
                                        optionLabel="department_name" optionValue="department_id" [showClear]="true" [filter]="true" filterBy="department_name"></p-dropdown>

                            <div *ngIf="submitted && d.department_id.errors" class="invalid-feedback">
                                <small *ngIf="d.department_id.errors.required" class="p-error">Department is required</small>
                            </div>
                        </div>
                        <div class="field md:col-3">
                            <label pTooltip="Employee" tooltipPosition="top">Employee<span class="req">*</span></label>
                            <p-dropdown [options]="allEmployee" formControlName="employee_id" [ngClass]="{ 'is-invalid': submitted && d.employee_id.errors }" placeholder="---Select---"
                                        optionLabel="employee_name" optionValue="employee_id" [showClear]="true" [filter]="true" filterBy="employee_name"></p-dropdown>

                            <div *ngIf="submitted && d.employee_id.errors" class="invalid-feedback">
                                <small *ngIf="d.employee_id.errors.required" class="p-error">Employee is required</small>
                            </div>
                        </div>
                        <div class="field md:col-1">
                            <button pButton pRipple type="button" (click)="SaveDealerVerification()" label="Assign" class="risBtnAssign risAssign mr-2 mb-2" icon="pi pi-plus"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
