
<div class="p-card">

    <div class="me-auto">
        <div class="p-card-title ">
            <span class="pi pi-OT Policy"> </span>OT Policy Information
        </div>
        <div class="p-card-body">
          <!--********** start card body ********************-->

          <div class="card">
            <h5>Vertical and Grid</h5>
            <div class="formgrid grid">
              <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
              </div>
              <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
              </div>
            </div>
          </div>

          <h5>Text Box 2 Columns</h5>
          <div class="grid">
            <div class="col">
              <input id="firstname1" type="text" class="inputfield w-full" pInputText [(ngModel)]="value1">
            </div>
            <div class="col">
              <input id="firstname1" type="text" class="inputfield w-full" pInputText [(ngModel)]="value1">
            </div>

          </div>

          <h5>Text Box 3 Columns</h5>
          <div class="grid">
            <div class="col">
              <input id="firstname1" type="text" class="inputfield w-full" pInputText [(ngModel)]="value1">
            </div>
            <div class="col">
              <input id="firstname1" type="text" class="inputfield w-full" pInputText [(ngModel)]="value1">
            </div>
            <div class="col">
              <input id="firstname1" type="text" class="inputfield w-full" pInputText [(ngModel)]="value1">
            </div>
          </div>

          <h5>Text Box 1 Columns</h5>
          <div class="card ">
            <div class="grid">
              <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
            </div>

          </div>

          <h5>Text Box Columns fixed width</h5>
          <div class="card " style="width:200px">
            <div class="grid">
              <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
            </div>
          </div>



          <div class="card">

            <div class="flex justify-content-center flex-wrap card-container ">
              <h5>Text Box Columns fided width</h5>
            </div>
            <div class="flex justify-content-center flex-wrap card-container ">
              <h5>Text Box </h5>
              <div class="flex align-items-center justify-content-center m-2">
                <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
              </div>
              <div class="flex align-items-center justify-content-center m-2">
                <h5>Text Box </h5>
                <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
              </div>
              <div class="flex align-items-center justify-content-center m-2">
                <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
              </div>


            </div>
          </div>

          <!-- Start Section 2 ***************************** -->

          <h5> one colum</h5>
          <div class=" grid col-10 flex justify-content-center flex-wrap card-container  ">

            <div class="col-12 flex align-items-center justify-content-center">
              <div class="col-4 mt-2 text-right">
                <label for="" class=" d-none d-md-inline-flex">Role Name :</label>
              </div>
              <div class="col-8 p-fluid">
                <span class="p-float-label">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>
            </div>

            <div class="col-12 flex align-items-center justify-content-center">
              <div class="col-4 mt-2 text-right">
                <label for="" class=" d-none d-md-inline-flex">Role Name :</label>
              </div>
              <div class="col-8 p-fluid">
                <span class="p-float-label">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>
            </div>

            <h5>2 Colum</h5>
            <div class="col-12 flex align-items-center justify-content-center">

              <div class="col  text-right">
                <label for="" class=" d-none d-md-inline-flex">Role DFSFS Name :</label>
              </div>
              <div class="col-2 p-fluid">
                <span class="p-float-label">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>
              <div class="col  text-right">
                <label for="" class=" d-none d-md-inline-flex">Role DFSFS Name :</label>
              </div>
              <div class="col-2 p-fluid text-end">
                <span class="p-float-label text-right">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>

            </div>


            <h5>3 Colum</h5>
            <div class="col-12 flex align-items-center justify-content-center">

              <div class="col  text-right">
                <label for="" class=" d-none d-md-inline-flex">Role DFSFS Name :</label>
              </div>
              <div class="col-2 p-fluid">
                <span class="p-float-label">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>
              <div class="col-1 text-right">
                <label for="" class=" d-none d-md-inline-flex">Role Name :</label>
              </div>
              <div class="col-2 p-fluid text-end">
                <span class="p-float-label text-right">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>


              <div class="col-1  text-right">
                <label for="" class=" d-none d-md-inline-flex">Role Name :</label>
              </div>
              <div class="col-2 p-fluid text-end">
                <span class="p-float-label text-right">
                  <input id="firstname1" type="text" class="inputfield w-full " pInputText [(ngModel)]="value1">
                </span>
              </div>

            </div>





          </div>
          <!-- End Section 2 */***************************** -->

          <h5> Start Fieldshade</h5>
          <div class=" grid col-10 flex justify-content-center flex-wrap card-container  ">


            <h5>Regular</h5>
            <p-fieldset legend="Header" [collapsed]="collapsed" [toggleable]="true" (onBeforeToggle)="toggle()">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </p-fieldset>

            <h5>Toggleable</h5>
            <p-fieldset legend="Header" [collapsed]="collapsed" [toggleable]="true" (onBeforeToggle)="toggle()">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </p-fieldset>

          </div>


          <!-- start image *************************** -->
          <div class=" col-6 flex justify-content-end right">
            <div class="flex grid  ">
              <div class=" inputWrapperFile col-6 photo-signature align-self-end flex align-items-center justify-content-center">
                <!-- <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt=""> -->
                <input type="file" class="fileInputFile   " style="width: 150px;" #userImage (change)="onSelectImage($event)">

              </div>

            </div>
          </div>
          <!-- end image *************************** -->
          <!--calender start***************************-->

          <h4>Calender</h4>
          <div class="p-field p-col-12 p-md-4">
            <label for="icon">Icon</label>
            <p-calendar [(ngModel)]="date6" [showIcon]="true" selectOtherMonths="true" inputId="navigators" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" dateFormat="dd/mm/yy">
            
            </p-calendar>
           
          
          </div>


         

          <!--calender end *************************-->
          <!--********** end card body ********************-->
        </div>
        </div>
 </div>
