<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-departmentTypeConfigs"> </span> Department Type Config Information
    </div>
    <div class="p-card-body">
      <!-- ********** start card body ******************** -->

      <div class="card">
        <div class="grid mb-2">
          <button class="pi pi-plus risBtn risAdd mr-2 ml-2" (click)="showBasicDialog()"> New</button>
          <button class="pi pi-pencil risBtn risEdit mr-2" (click)="loadDepartmentTypeConfigToEdit()"> Edit</button>
          <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
        </div>
        <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
          <p>Do you want to delete this record?</p>
          <ng-template pTemplate="footer">
            <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
            <button class="pi pi-check risBtn risSave" (click)="deleteDepartmentTypeConfigInfo()"> Yes</button>
          </ng-template>
        </p-dialog>

        <div class="card-body">

          <p-dialog header="Department Type Config Information" [(visible)]="displayBasic" [draggable]="true" [resizable]="false" [style]="{width: '40vw'}">
            <form action="" [formGroup]="departmentTypeConfigForm">
              <div class="">
                <div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Department Functionality<span class="req">*</span> :</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <p-dropdown [options]="allDepartmentTypeFunctionalityEnum" [(ngModel)]="selectedDepartmentTypeFunctionalityEnum" formControlName="departmentFunctionalityEnumObj" placeholder="Select Department Functionality"
                                  optionLabel="department_functionality_enum_name" optionValue="department_functionality_enum_id" [showClear]="true"></p-dropdown>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Department Type<span class="req">*</span> :</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <p-dropdown [options]="allDepartmentTypeEnum" [(ngModel)]="selectedDepartmentTypeEnum" formControlName="departmentTypeEnumObj" placeholder="Select Department Type"
                                  optionLabel="department_type_enum_name" optionValue="department_type_enum_id" [showClear]="true"></p-dropdown>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Display Name<span class="req">*</span> :</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" formControlName="display_name" type="text" placeholder="Display Name"
                             pInputText autocomplete="off">
                    </span>
                  </div>
                </div>

                <div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Is Active<span class="req">*</span> :</label>
                  </div>
                  <div class="col-8 p-fluid">

                    <p-checkbox [(ngModel)]="checked" formControlName="is_active" binary="true" inputId="binary"></p-checkbox>
                    <!--<label for="binary">{{checked}}</label>-->

                  </div>
                </div>
              </div>

            </form>
            <ng-template pTemplate="footer">
              <button type="submit" class="pi pi-save risBtn risSave" (click)="onFormSubmit()"> Save</button>
              <button class="pi pi-times risBtn risClose" (click)="displayBasic=false"> Close</button>
            </ng-template>
          </p-dialog>
          <!-- ************************start grid ************************ -->
          <p-table [value]="departmentTypeConfigs" [paginator]="true" [rows]="10" styleClass="p-datatable-striped p-datatable-sm" [showCurrentPageReport]="true" selectionMode="single" [(selection)]="selectedDepartmentTypeConfig" dataKey="display_name"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">

            <ng-template pTemplate="header">
              <tr>
                <th>Department Type Config Name</th>
                <th>Remarks</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-departmentTypeConfig>

              <tr (click)="selectRow(departmentTypeConfig)" [pSelectableRow]="departmentTypeConfig">
                <td>{{departmentTypeConfig.display_name}}</td>
                <td>{{departmentTypeConfig.is_active}}</td>
              </tr>
            </ng-template>
          </p-table>





        </div>

        <!-- ********** end card body ******************** -->

      </div>
    </div>
  </div>
</div>
