
<div class="grid">
    <div class="col-12">
        <div class="card">

            <h4>Company</h4>
            <div [hidden]="formDisplay">

                <form action="" [formGroup]="companyForm" >

                    
                    <p-tabView>
                        <p-tabPanel header="General">

                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Company Code" tooltipPosition="top">Company Code<span class="req">*</span></label>
                                        <input pInputText id="firstname2" type="text" formControlName="company_code" placeholder="<<Auto Generate>>" pInputText disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="lastname2" pTooltip="Company Prefix" tooltipPosition="top">Prefix<span class="req">*</span> </label>
                                        <input pInputText id="lastname2" type="text" formControlName="company_prefix" [ngClass]="{ 'is-invalid': submitted && f.company_prefix.errors }" placeholder="Prefix" pInputText maxlength="1" style="text-transform: uppercase" pKeyFilter="alpha" />

                                        <div *ngIf="submitted && f.company_prefix.errors" class="invalid-feedback">
                                            <small *ngIf="f.company_prefix.errors.required" class="p-error">Company prefix is required</small>
                                        </div>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Country of Domicile" tooltipPosition="top">Company Group<span class="req">*</span></label>
                                        <p-dropdown [options]="allCompanyGroup"  formControlName="company_group_id" [ngClass]="{ 'is-invalid': submitted && f.company_group_id.errors }" placeholder="Select Company Group"
                                                    optionLabel="company_group_name" optionValue="company_group_id" [showClear]="true"></p-dropdown>

                                        <div *ngIf="submitted && f.company_group_id.errors" class="invalid-feedback">
                                            <small *ngIf="f.company_group_id.errors.required" class="p-error">Company group is required</small>
                                        </div>
                                    </div>

                                    <div class="field form-group col-12 md:col-6">
                                        <label pTooltip="Company Name" tooltipPosition="top">Company Name<span class="req">*</span> </label>
                                        <input id="lastname2" type="text" class="from-control" formControlName="company_name"
                                               [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }"
                                               placeholder="Company Name" pInputText required />

                                        <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback">
                                            <small *ngIf="f.company_name.errors.required" class="p-error">Company name is required</small>

                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label> Short Name<span class="req">*</span> </label>
                                        <input id="lastname2" type="text" formControlName="company_short_name" [ngClass]="{ 'is-invalid': submitted && f.company_short_name.errors }" placeholder="Short Name" pInputText required />

                                        <div *ngIf="submitted && f.company_short_name.errors" class="invalid-feedback">
                                            <small *ngIf="f.company_short_name.errors.required" class="p-error">Company short name is required</small>
                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Company Reg No </label>
                                        <input id="lastname2" type="text" formControlName="company_reg_no" placeholder="Company Registration No" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Reg Date</label>
                                        <p-calendar formControlName="company_reg_date" placeholder="Company Registration Date" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Company TIN No </label>
                                        <input id="lastname2" type="text" formControlName="company_tin_no" placeholder="Company TIN No" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>TIN Date</label>
                                        <p-calendar formControlName="company_tin_date" placeholder="Company TIN Date" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Name In Local </label>
                                        <input id="lastname2" type="text" formControlName="name_in_local_language" placeholder="Name In Local Language" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Address In Local </label>
                                        <input id="lastname2" type="text" formControlName="address_in_local_language" placeholder="Address Name In Local Language" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Slogan </label>
                                        <input id="lastname2" type="text" formControlName="slogan" placeholder="Slogan" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Address Note </label>
                                        <input id="lastname2" type="text" formControlName="address_note" placeholder="Address Note" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Remarks </label>
                                        <input id="lastname2" type="text" formControlName="remarks" placeholder="remarks" pInputText />
                                    </div>


                                </div>
                            </div>

                        </p-tabPanel>
                        <p-tabPanel header="Address">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Country of Domicile" tooltipPosition="top">Currency<span class="req">*</span></label>
                                        <p-dropdown [options]="allCurrency" formControlName="currency_id" [ngClass]="{ 'is-invalid': submitted && f.currency_id.errors }" placeholder="Select Currency"
                                                    optionLabel="currency_name" optionValue="currency_id" [showClear]="true"></p-dropdown>

                                        <div *ngIf="submitted && f.currency_id.errors" class="invalid-feedback">
                                            <small *ngIf="f.currency_id.errors.required" class="p-error">Currency is required</small>
                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Country of Domicile" tooltipPosition="top">CoD<span class="req">*</span></label>
                                        <p-dropdown [options]="allCountry" formControlName="country_id" [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }" placeholder="Select Country"
                                                    optionLabel="country_name" optionValue="country_id" (onChange)="onSelectByCountryId($event.value)" [showClear]="true"></p-dropdown>

                                        <div *ngIf="submitted && f.country_id.errors" class="invalid-feedback">
                                            <small *ngIf="f.country_id.errors.required" class="p-error">CoD is required</small>
                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Division</label>
                                        <p-dropdown [options]="allDivision" [(ngModel)]="selectedDivision" formControlName="division_id" placeholder="Select Division"
                                                    optionLabel="division_name" optionValue="division_id" (onChange)="onSelectByDivisionId($event.value)" [showClear]="true"></p-dropdown>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>District</label>
                                        <p-dropdown [options]="allDistrict" [(ngModel)]="selectedDistrict" formControlName="district_id" placeholder="Select District"
                                                    optionLabel="district_name" optionValue="district_id" [showClear]="true"></p-dropdown>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="City/Town" tooltipPosition="top">City/Town </label>
                                        <input id="lastname2" type="text" formControlName="city" placeholder="City/Town" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="P.S/Area" tooltipPosition="top">P.S/Area </label>
                                        <input id="lastname2" type="text" formControlName="ps_area" placeholder="P.S/Area" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Post Code </label>
                                        <input id="lastname2" type="text" formControlName="post_code" placeholder="Post Code" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Block" tooltipPosition="top">Block </label>
                                        <input id="lastname2" type="text" formControlName="block" placeholder="Block" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Block" tooltipPosition="top">Road No </label>
                                        <input id="lastname2" type="text" formControlName="road_no" placeholder="Road No" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="House No" tooltipPosition="top">House No </label>
                                        <input id="lastname2" type="text" formControlName="house_no" placeholder="House No" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Flat No </label>
                                        <input id="lastname2" type="text" formControlName="flat_no" placeholder="Flat No" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Phone" tooltipPosition="top">Phone </label>
                                        <input id="lastname2" type="text" formControlName="phone" placeholder="Phone" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Email </label>
                                        <input id="lastname2" type="email" formControlName="email" placeholder="user@example.com" pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Web </label>
                                        <input id="lastname2" type="text" formControlName="web_url" placeholder="URL" pInputText />
                                    </div>



                                </div>
                            </div>

                        </p-tabPanel>
                        <p-tabPanel header="Upload">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">





                                </div>
                            </div>
                            <div class="p-fluid grid col-12 flex justify-content-end flex-wrap card-container">
                                <!---------------------dd---------------------------->

                                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                    <div class="col-4 mt-2 text-right">
                                        <label for="" class=" d-md-inline-flex">Company Logo:</label>
                                    </div>
                                    <div class="col-8 p-fluid">
                                        <span class="p-float-label">
                                            <div class="flex grid ">
                                                <div class=" inputWrapper photo-signature align-self-end flex align-items-center justify-content-center">
                                                    <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt="">
                                                    <input type="file" formControlName="logo"  class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">

                                                    <!--<div *ngIf="submitted && f.logo.errors" class="invalid-feedback">
                                                        <small *ngIf="f.logo.errors.required" class="p-error">Company Logo is required</small>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                    <div class="col-4 mt-2 text-right">
                                        <label for="" class=" d-md-inline-flex">Company Reg File :</label>
                                    </div>
                                    <div class="col-8 p-fluid">
                                        <span class="p-float-label">
                                            <div class="flex grid ">
                                                <div class=" inputWrapper photo-signature align-self-end flex align-items-center justify-content-center">
                                                    <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt="">
                                                    <input type="file" formControlName="company_reg_file_path"  class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">

                                                    <!--<div *ngIf="submitted && f.company_reg_file_path.errors" class="invalid-feedback">
                                                        <small *ngIf="f.company_reg_file_path.errors.required" class="p-error">Company Reg File is required</small>
                                                    </div>-->

                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                    <div class="col-4 mt-2 text-right">
                                        <label for="" class=" d-md-inline-flex">Company TIN File :</label>
                                    </div>
                                    <div class="col-8 p-fluid">
                                        <span class="p-float-label">
                                            <div class="flex grid ">
                                                <div class=" inputWrapper photo-signature align-self-end flex align-items-center justify-content-center">
                                                    <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt="">
                                                    <input type="file" formControlName="company_tin_file_path"  class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">
                                                    <!--<input type="file" formControlName="company_tin_file_path" [ngClass]="{ 'is-invalid': submitted && f.company_tin_file_path.errors }" class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">-->

                                                    <!--<div *ngIf="submitted && f.company_tin_file_path.errors" class="invalid-feedback">
        <small *ngIf="f.company_tin_file_path.errors.required" class="p-error">Company TIN File is required</small>
    </div>-->

                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </p-tabPanel>
                        <div class="flex justify-content-end pr-2">
                            <button pButton pRipple type="button" (click)="onFormSubmit()" label="Save" class="risBtn risSave mr-2 mb-2" icon="pi pi-check"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabView>

                   
                    
                    

                </form>




            </div>

            <!--end form display------------->

            <div [hidden]="gridDisplay">
                <button pButton pRipple type="button" (click)="showBasicDialog()" label="New" class="risBtn risAdd mr-2 mb-2"></button>
                <button pButton pRipple type="button" (click)="loadCompanyToEdit()" label="Edit" class="risBtn risEdit mr-2 mb-2"></button>
                <button pButton pRipple type="button" (click)="showDialog()" label="Delete" class="risBtn risDelete mr-2 mb-2"></button>

                <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
                    <p>Do you want to delete this record?</p>
                    <ng-template pTemplate="footer">
                        <button class="pi pi-check risBtn risSave" (click)="deleteCompanyInfo()"> Yes</button>
                        <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                    </ng-template>
                </p-dialog>

                <p-table [value]="companys" styleClass="p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [(selection)]="selectedCompany" dataKey="company_code" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Company Code</th>
                            <th>Company Name</th>
                            <th>Company Short Name</th>
                            <th>Remarks</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-company>

                        <tr (click)="selectRow(company)" [pSelectableRow]="company">
                            <td>{{company.company_code}}</td>
                            <td>{{company.company_name}}</td>
                            <td>{{company.company_short_name}}</td>
                            <td>{{company.remarks}}</td>

                        </tr>
                    </ng-template>

                </p-table>
                <!--end grid display -------------->
            </div>



        </div>
    </div>
</div>
<!----------------------------------edd-------------------------------------->

<!--<div class="p-card">

    <div class="me-auto">
        <div class="p-card-title ">
            <span class="pi pi-users"> Company</span>
        </div>
        <div class="p-card-body">-->
            <!-- ********** start card body ******************** -->

            <!--<div class="grid mb-2">
                <button class="pi pi-plus risBtn risAdd mr-2 ml-2" (click)="showBasicDialog()"> New</button>
                <button class="pi pi-pencil risBtn risEdit mr-2" (click)="loadCompanyToEdit()"> Edit</button>
                <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
            </div>
            <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
                <p>Do you want to delete this record?</p>
                <ng-template pTemplate="footer">
                    <button class="pi pi-check risBtn risSave" (click)="deleteCompanyInfo()"> Yes</button>
                    <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                </ng-template>
            </p-dialog>
            <form action="" [formGroup]="companyForm">
                <p-dialog header="Company Information" maskStyleClass="xl-dialog" [(visible)]="displayBasic" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '65%',height:'40vw'}" [baseZIndex]="10000" [maximizable]="true">

                    <div class="card">
                        <p-tabView>
                            <p-tabPanel header="General">
                                <div class="p-fluid grid col-12 flex justify-content-end flex-wrap card-container">
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Company Code" tooltipPosition="top">Company Code<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="company_code" placeholder="<<Auto Generate>>" pInputText disabled>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Company Prefix" tooltipPosition="top">Prefix<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="company_prefix" placeholder="Prefix" pInputText maxlength="1" style="text-transform: uppercase" pKeyFilter="alpha">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Country of Domicile" tooltipPosition="top">Company Group<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allCompanyGroup" [(ngModel)]="selectedCompanyGroup" formControlName="companyGroupObj" placeholder="Select Company Group"
                                                            optionLabel="company_group_name" optionValue="company_group_id" [showClear]="true"></p-dropdown>

                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Company Name" tooltipPosition="top">Company Name<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="company_name" placeholder="Company Name" pInputText required>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Short Name<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="company_short_name" placeholder="Short Name" pInputText required>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Company Reg No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="company_reg_no" placeholder="Company Registration No" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Reg Date :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-calendar id="float-input p-fluid" formControlName="company_reg_date" placeholder="Company Registration Date"
                                                            [showIcon]="true" inputId="icon"></p-calendar>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Company TIN No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="company_tin_no" placeholder="Company TIN No" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">TIN Date :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-calendar id="float-input p-fluid" formControlName="company_tin_date" placeholder="Company TIN Date"
                                                            [showIcon]="true" inputId="icon"></p-calendar>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Name In Local :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="name_in_local_language" placeholder="Name In Local Language" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Address In Local :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="address_in_local_language" placeholder="Address Name In Local Language" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Slogan :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="slogan" placeholder="Slogan" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Address Note :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="address_note" placeholder="Address Note" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Remarks :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="remarks" placeholder="remarks" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Address">

                                <div class="p-fluid grid col-12 flex justify-content-end flex-wrap card-container">

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Currency<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allCurrency" [(ngModel)]="selectedCurrency" formControlName="currencyObj" placeholder="Select Currency"
                                                            optionLabel="currency_name" optionValue="currency_id" [showClear]="true"></p-dropdown>

                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Country of Domicile" tooltipPosition="top">CoD<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allCountry" [(ngModel)]="selectedCountry" formControlName="countryObj" placeholder="Select Country"
                                                            optionLabel="country_name" optionValue="country_id" (onChange)="onSelectByCountryId($event.value)" [showClear]="true"></p-dropdown>

                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Division :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allDivision" [(ngModel)]="selectedDivision" formControlName="divisionObj" placeholder="Select Division"
                                                            optionLabel="division_name" optionValue="division_id" (onChange)="onSelectByDivisionId($event.value)" [showClear]="true"></p-dropdown>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">District :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allDistrict" [(ngModel)]="selectedDistrict" formControlName="districtObj" placeholder="Select District"
                                                            optionLabel="district_name" optionValue="district_id" [showClear]="true"></p-dropdown>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="City/Town" tooltipPosition="top">City/Town :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="city" placeholder="City/Town" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="P.S/Area" tooltipPosition="top">P.S/Area :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="ps_area" placeholder="P.S/Area" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Post Code :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="post_code" placeholder="Post Code" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Block" tooltipPosition="top">Block :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="block" placeholder="Block" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Road No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="road_no" placeholder="Road No" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="House No" tooltipPosition="top">House No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="house_no" placeholder="House No" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Flat No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="flat_no" placeholder="Flat No" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex" pTooltip="Phone" tooltipPosition="top">Phone :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="phone" placeholder="Phone" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Email :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="email" formControlName="email" placeholder="user@example.com" pInputText>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Web :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="web_url" placeholder="URL" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Upload">
                                <div class="p-fluid grid col-12 flex justify-content-end flex-wrap card-container">
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Company Logo<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <div class="flex grid ">
                                                    <div class=" inputWrapper photo-signature align-self-end flex align-items-center justify-content-center">
                                                        <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt="">
                                                        <input type="file" formControlName="logo" class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Company Reg File<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <div class="flex grid ">
                                                    <div class=" inputWrapper photo-signature align-self-end flex align-items-center justify-content-center">
                                                        <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt="">
                                                        <input type="file" formControlName="company_reg_file_path" class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Company TIN File<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <div class="flex grid ">
                                                    <div class=" inputWrapper photo-signature align-self-end flex align-items-center justify-content-center">
                                                        <img class="risBtn m-1" [src]="photourllink" style="width: 150px;" alt="">
                                                        <input type="file" formControlName="company_tin_file_path" class="fileInput risBtn risAdd " style="width: 150px;" #userImage (change)="onSelectImage($event)">
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                        </p-tabView>

                    </div>
                    <ng-template pTemplate="footer">
                        <button type="submit" class="pi pi-save risBtn risSave" (click)="onFormSubmit()"> Save</button>
                        <button class="pi pi-times risBtn risClose" (click)="displayBasic=false"> Close</button>
                    </ng-template>
                </p-dialog>
            </form>
            <div class="card" style="border: 1px solid #dee2e6">

                <p-table [value]="companys" styleClass="p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [(selection)]="selectedCompany" dataKey="company_code" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Company Code</th>
                            <th>Company Name</th>
                            <th>Company Short Name</th>
                            <th>Remarks</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-company>

                        <tr (click)="selectRow(company)" [pSelectableRow]="company">
                            <td>{{company.company_code}}</td>
                            <td>{{company.company_name}}</td>
                            <td>{{company.company_short_name}}</td>
                            <td>{{company.remarks}}</td>

                        </tr>
                    </ng-template>

                </p-table>
            </div>-->



            <!-- ********** end card body ******************** -->
        <!--</div>
    </div>
</div>-->
