<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-OT Policy"> </span>Salary Head Information
    </div>
    <div class="p-card-body">
      <!--********** start card body ********************-->

      <div class="card">



        <div class="card-body">

          <p-fieldset legend={{header}} [collapsed]="collapsed" (onBeforeToggle)="toggle()" [toggleable]="true">
            <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
              <p>Do you want to delete this record?</p>
              <ng-template pTemplate="footer">
                <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                <button class="pi pi-check risBtn risSave" (click)="deleteSalaryHead()"> Yes</button>
              </ng-template>
            </p-dialog>
            <form action="" [formGroup]="salaryHeadForm">
              <div class="p-fluid grid col-12 flex flex-wrap card-container">
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex" pTooltip="Leave Name" tooltipPosition="top">Salary Head Name<span class="req">*:</span> </label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="salary_head_name" placeholder="Salary Head Name" pInputText required>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Short Name*:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="salary_head_short_name" placeholder="Short Name" pInputText>
                    </span>
                  </div>

                </div>

                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Salary Head Type*:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label  ">
                      <p-dropdown [options]="salaryHeadTypes" [(ngModel)]="selectedSalaryHeadType" formControlName="salary_head_type_id" placeholder="Select Salary Head Type"
                                  optionLabel="salary_head_type_name" optionValue="salary_head_type_id" [showClear]="true"></p-dropdown>

                    </span>
                    
                  </div>

                </div>
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Sorting Priority*:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="sorting_priority"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" placeholder="Sorting Priority" pInputText>
                    </span>
                  </div>

                </div>
                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Name In Local:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" type="text" formControlName="name_in_local_language" placeholder="Name in Local Language" pInputText>
                    </span>

                  </div>

                </div>


                <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-md-inline-flex">Remarks:</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">

                      <textarea rows="1" id="float-input p-fluid" formControlName="remarks" class="inputfield w-full" cols="50" pInputTextarea></textarea>
                    </span>
                  </div>
                </div>




                <div class="p-fluid grid col-12 mt-2 ml-12 flex justify-content-end flex-wrap card-container">



                  <button type="submit" class="pi pi-save risBtn risSave mr-2" (click)="saveSalaryHead()"> Save</button>
                  <button class="pi pi-times risBtn risClose mr-2" (click)="clear()"> Clear</button>


                </div>


              </div>

            </form>

          </p-fieldset>

          <p-fieldset legend="Salary Head List" [collapsed]="collapsedList" (onBeforeToggle)="toggle()" [toggleable]="true">
            <div class="grid mb-2">
              <button class="pi pi-plus risBtn risAdd mr-2 " (click)="btnNew()"> New</button>
              <button class="pi pi-pencil risBtn risEdit mr-2 " (click)="loadSalaryHeadToEdit()"> Edit</button>
              <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>

            </div>
            <p-table [value]="salaryHeads" dataKey="salary_head_id" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedSalaryHead" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

              <ng-template pTemplate="header">
                <tr>
                  <th>Salary Head</th>
                  <th>Head Type</th>
                  <th>Sorting Priority</th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-salaryHead>
                <tr [pSelectableRow]="salaryHead">
                  <td>{{salaryHead.salary_head_name}}</td>
                  <td>{{salaryHead.salary_head_type_name}}</td>
                  <td>{{salaryHead.sorting_priority}}</td>

                </tr>
              </ng-template>
            </p-table>
          </p-fieldset>
          <!--************************start grid ************************-->
          <!--<p-table [value]="Holidays" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedHolidays" dataKey="holiday_id" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

            <ng-template pTemplate="header">
              <tr>
                <th>Holiday</th>
                <th>Type Of Holiday</th>
                <th>Days Of Month</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-holiday>
              <tr [pSelectableRow]="holiday">
                <td>{{holiday.holiday_name}}</td>
                <td>{{holiday.holidayTypeName}}</td>
                <td>{{holiday.days_of_month}}</td>
              </tr>
            </ng-template>
          </p-table>-->


        </div>

        <!--********** end card body ********************-->

      </div>
    </div>
  </div>
</div>
