<div class="grid ">
    <div class="col-12 ">
        <div class="card">

            <h4 >Leave Policy</h4>
            <div [hidden]="formDisplay" class="md:pl-3 md:pr-5">
                <form action="" [formGroup]="leavePolicyForm">


                    <div class="col-12">
                        <div class="p-fluid p-formgrid grid ">
                            <div class="field col-12 md:col-6 flex justify-content-start flex-wrap ">
                                <label pTooltip="Leave Policy Name" tooltipPosition="top">Name<span class="req">*</span> </label>
                                <input id="lastname2" type="text" class="from-contro flex align-items-center justify-content-centerl" formControlName="leave_policy_name"
                                       [ngClass]="{ 'is-invalid': submitted && f.leave_policy_name.errors }"
                                       placeholder="" pInputText required />

                                <div *ngIf="submitted && f.leave_policy_name.errors" class="invalid-feedback">
                                    <small *ngIf="f.leave_policy_name.errors.required" class="p-error">Leave policy name is required</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Leave Policy Code" tooltipPosition="top">Code<span class="req">*</span></label>
                                <input pInputText id="firstname2" type="text" formControlName="code" pInputText disabled />
                            </div>



                            <div class="field col-12" style="padding-left: 0; padding-right: 13px;">
                                <label pTooltip="Remarks" tooltipPosition="top">Remarks </label>
                                <input id="lastname2" type="text" formControlName="remarks" placeholder="" pInputText />

                            </div>
                            <div class="field col-12 md:col-12 ">
                                <div class="grid ">

                                    <div class="field-checkbox mb-0">
                                        <p-checkbox name="is_proportionate" binary="true" formControlName="is_proportionate" id="ch"></p-checkbox>
                                        <label for="ch">Calculate all leaves proportionately as per date of join or confirmation date.</label>
                                    </div>

                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label pTooltip="Leave Head" tooltipPosition="top">Leave<span class="req">*</span> </label>


                                <p-dropdown [options]="leaveHeads" formControlName="leave_head_id" placeholder="Select Leave Head"
                                            optionLabel="HeadName" optionValue="LeaveHeadId" (onChange)="onLeaveHeadChange($event)" [showClear]="true" [filter]="true" filterBy="LeaveName"></p-dropdown>

                                <div *ngIf="submitted && f.leave_head_id.errors" class="invalid-feedback">
                                    <small *ngIf="f.leave_head_id.errors.required" class="p-error">Leave name is required</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Description" tooltipPosition="top">Description<span class="req"></span></label>
                                <input id="firstname2" type="text" formControlName="description" pInputText disabled />

                            </div>

                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Default Balance" tooltipPosition="top">Default Balance<span class="req">*</span></label>
                                <div class="grid">
                                    <div class=" col-12 md:col-7">
                                        <div class="field-checkbox mb-0">
                                            <input id="firstname2" type="number"  min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1')" formControlName="default_leave_balance_day" placeholder="" pInputText />
                                            <label for="ch">Days</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Max enjoyable limit" tooltipPosition="top">Max enjoyable limit<span class="req"></span></label>
                                <div class="grid">
                                    <div class=" col-12 md:col-7">
                                        <div class="field-checkbox mb-0">
                                            <input id="firstname2" type="number"  min="0" formControlName="max_enjoyable_limit_min" placeholder="" pInputText />
                                            <label for="ch">Days</label>
                                            <label class="md:mr-3"> or </label>
                                            <p-checkbox name="max_enjoyable_limit_min_all" (onChange)="setDefaultBalanceToEnjoyableLimit($event)" formControlName="max_enjoyable_limit_min_all" binary="true" id="ch"></p-checkbox>
                                            <label for="ch">All</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Max carry forward limit" tooltipPosition="top">Max carry forward limit<span class="req"></span></label>

                                <div class="grid">
                                    <div class=" col-12 md:col-7">

                                        <div class="field-checkbox mb-0">
                                            <input id="lastname2" type="number"  min="0" formControlName="max_carry_leave_limit_min" placeholder="" pInputText />
                                            <label for="ch1">Days</label>
                                            <label class="md:mr-3"> or </label>
                                            <p-checkbox name="max_carry_leave_limit_min_all" (onChange)="setDefaultBalanceToCarryLimit($event)" formControlName="max_carry_leave_limit_min_all" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1">All</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Max carry forward year" tooltipPosition="top">Max carry forward year <span class="req"></span></label>
                                <div class="grid">
                                    <div class=" col-12 md:col-7">
                                        <div class="field-checkbox mb-0">
                                            <input id="firstname2" type="number"  min="0" formControlName="max_carry_year" placeholder="" pInputText />
                                            <label for="ch">Years</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12 float-right">
                                <div class="grid">
                                    <div class="field-checkbox mb-0">

                                        <p-checkbox name="is_hourly" formControlName="is_hourly" binary="true" id="ch1"></p-checkbox>
                                        <label for="ch1" class="md:mr-5">Allow fraction (Hourly)</label>


                                    </div>
                                </div>
                            </div>


                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">

                                        <div class="field-checkbox mb-0">
                                            <p-checkbox name="is_attachment_required" formControlName="is_attachment_required" binary="true" (onChange)="onAllowAttachmentRequired($event)"></p-checkbox>
                                            <label for="ch1">Attachment required</label>
                                        </div>
                                    </div>
                                    <div *ngIf="isShownAttachmentRequired" class=" col-12 md:col-6">
                                        <label pTooltip="Consider sandwich" tooltipPosition="top">Required for<span></span></label>

                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <input id="firstname2" type="number"  min="0" formControlName="attachment_required_for_min" placeholder="" pInputText />
                                            <label for="ch" class="col-12 md:col-8">Days of leave</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">

                                        <div class="field-checkbox mb-0">

                                            <p-checkbox name="is_allow_sandwich" formControlName="is_allow_sandwich" binary="true" id="ch1" (onChange)="onAllowSandwich($event)"></p-checkbox>
                                            <label for="ch1" class="md:mr-0">Allow Sandwich  leave</label>

                                        </div>
                                    </div>
                                    <div *ngIf="isShownSandwich" class=" col-12 md:col-6">
                                        <label pTooltip="Consider sandwich" tooltipPosition="top">Consider sandwich<span></span></label>

                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">

                                            <p-checkbox name="is_sandwich_dayoff" formControlName="is_sandwich_dayoff" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Day off </label>
                                            <p-checkbox name="is_sandwich_holiday" formControlName="is_sandwich_holiday" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Holiday</label>
                                            <p-checkbox name="is_sandwich_uneven" formControlName="is_sandwich_uneven" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1">Uneven</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">

                                        <div class="field-checkbox mb-0">

                                            <p-checkbox name="is_sufix" formControlName="is_sufix" binary="true" id="ch1" (onChange)="onAllowSuffix($event)"></p-checkbox>
                                            <label for="ch1" class="md:mr-0">Allow Suffix</label>

                                        </div>
                                    </div>
                                    <div *ngIf="isShownSuffix" class=" col-12 md:col-6">
                                        <label pTooltip="Consider Suffix" tooltipPosition="top">Consider Suffix<span class="req"></span></label>

                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">

                                            <p-checkbox name="is_sufix_dayoff" formControlName="is_sufix_dayoff" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Day off</label>
                                            <p-checkbox name="is_sufix_holiday" formControlName="is_sufix_holiday" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Holiday</label>
                                            <p-checkbox name="is_sufix_uneven" formControlName="is_sufix_uneven" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1">Uneven</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">
                                        <div class="field-checkbox mb-0">

                                            <p-checkbox name="is_prefix" formControlName="is_prefix" binary="true" id="ch1" (onChange)="onAllowPrefix($event)"></p-checkbox>
                                            <label for="ch1" class="md:mr-0">Allow Prefix</label>

                                        </div>
                                    </div>
                                    <div *ngIf="isShownPrefix" class=" col-12 md:col-6">
                                        <label pTooltip="Consider Prefix" tooltipPosition="top">Consider Prefix<span class="req"></span></label>

                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">

                                            <p-checkbox name="is_prefix_dayoff" formControlName="is_prefix_dayoff" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Day off</label>
                                            <p-checkbox name="is_prefix_holiday" formControlName="is_prefix_holiday" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Holiday</label>
                                            <p-checkbox name="is_prefix_uneven" formControlName="is_prefix_uneven" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1">Uneven</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">
                                        <div class="field-checkbox mb-0">
                                            <p-checkbox name="is_leave_area_required:" formControlName="is_required_purpose" binary="true" id="ch" (onChange)="onAllowPurposeRequired($event)"></p-checkbox>
                                            <label for="ch">Required Purpose</label>
                                        </div>
                                    </div>
                                    <div *ngIf="isShownRequiredPurpose" class=" col-12 md:col-6">
                                        <label pTooltip="Required for" tooltipPosition="top">Required for <span class="req"></span></label>
                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <input id="firstname2" type="number"  min="0" formControlName="purpose_required_for_min" placeholder="" pInputText />
                                            <label for="ch" class="col-12 md:col-8">Days of leave</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">
                                        <div class="field-checkbox mb-0">
                                            <p-checkbox name="is_leave_area_required:" formControlName="is_leave_area_required" binary="true" (onChange)="onAllowLeaveAreaRequired($event)"></p-checkbox>
                                            <label for="ch">Leave enjoyable area required</label>
                                        </div>
                                    </div>
                                    <div *ngIf="isShownAreaRequired" class=" col-12 md:col-6">
                                        <label pTooltip="Required for" tooltipPosition="top">Required for <span class="req"></span></label>
                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <input id="firstname2"type="number"  min="0" formControlName="area_required_for_min" placeholder="" pInputText />
                                            <label for="ch" class="col-12 md:col-8">Days of leave</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">
                                        <div class="field-checkbox mb-0">
                                            <p-checkbox name="group1" formControlName="is_responsible_person_required" binary="true" (onChange)="onAllowPersonRequired($event)"></p-checkbox>
                                            <label for="ch">Responsible person require</label>
                                        </div>
                                    </div>
                                    <div *ngIf="isShownResponsilbleRequired" class=" col-12 md:col-6">
                                        <label pTooltip="Required for" tooltipPosition="top">Required for <span class="req"></span></label>
                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <input id="firstname2" type="number"  min="0" formControlName="responsible_person_required_for_min" placeholder="" pInputText />
                                            <label for="ch" class="col-12 md:col-8">Days of leave</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">
                                        <div class="field-checkbox mb-0">
                                            <p-checkbox name="is_negetive_balance" formControlName="is_negetive_balance" binary="true" (onChange)="onAllowNegativeBalance($event)"></p-checkbox>
                                            <label for="ch">Allow Negative Balance</label>
                                        </div>
                                    </div>
                                    <div *ngIf="isShownNegativeBalance" class=" col-12 md:col-6">
                                        <label pTooltip="Max Negative Balance" tooltipPosition="top">Max Negative Balance <span class="req"></span></label>
                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <input id="max_negetive_balance_min" type="number"  min="0" formControlName="max_negetive_balance_min" placeholder="" pInputText />
                                            <label for="ch" class="col-12 md:col-8">Days of leave</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Notice Period" tooltipPosition="top">Notice Period<span class="req"></span></label>

                                <div class="grid">
                                    <div class=" col-12 md:col-12">

                                        <div class="field-checkbox mb-0">
                                            <input id="lastname2" type="number"  min="0" formControlName="notice_period" placeholder="" pInputText />
                                            <label for="ch1" class="col-12 md:col-8">Days before applying the leave</label>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Required for" tooltipPosition="top">Required for <span class="req"></span></label>
                                <div class="grid">
                                    <div class=" col-12 md:col-12">
                                        <div class="field-checkbox mb-0">
                                            <input id="firstname2" type="number"  min="0" formControlName="notice_required_for_min" placeholder="" pInputText />
                                            <label for="ch" class="col-12 md:col-8">Days of leave</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="isShownEarnLeave"class="field col-12 md:col-12 md:mt-2">
                                <div class="grid ">

                                    <div>
                                        <label for="" style="font-weight: bold;" class="md:mr-2">Earn Leave Policy</label>
                                    </div>

                                </div>
                            </div>

                            <div *ngIf="isShownEarnLeave" class="field col-12 md:col-12 float-right">

                                <div class="grid">
                                    <div class=" col-12 md:col-6">
                                        <label pTooltip="Get 1 Day leave after" tooltipPosition="top">Get 1 Day leave after<span class="req"></span></label>

                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <input id="lastname2" type="number"  min="0" formControlName="earn_day_count" placeholder="" pInputText />
                                            <label for="ch1" class="col-12 md:col-8">Days of present</label>

                                        </div>
                                    </div>
                                    <div  class=" col-12 md:col-6">
                                        <label pTooltip="Consider for earned leave" tooltipPosition="top">Consider for earned leave<span class="req"></span></label>

                                        <div class="field-checkbox mb-0 md:mr-1 mt-2 ">
                                            <p-checkbox name="is_earn_dayoff" formControlName="is_earn_dayoff" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Day off</label>
                                            <p-checkbox name="is_earn_holiday" formControlName="is_earn_holiday" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Holiday</label>
                                            <p-checkbox name="is_earn_uneven" formControlName="is_earn_uneven" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="md:mr-4">Uneven</label>
                                            <p-checkbox name="is_earn_absent" formControlName="is_earn_absent" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1">Absent</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="field col-12 md:col-12 md:mt-2">
                                <div class="grid ">

                                    <div>
                                        <label for="" style="font-weight: bold;" class="md:mr-2">Encashment Policy</label>
                                    </div>

                                </div>
                            </div>
                            <div class="field col-12 md:col-6 float-right">

                                <div class="grid md:ml-0">
                                    <div class=" col-12 md:col-6 ">
                                        <label pTooltip="Max encashment limit" tooltipPosition="top">Max encashment limit<span class="req"></span></label>

                                        <div class="field-checkbox mb-0 mt-2">
                                            <input id="lastname2" type="number"  min="0" formControlName="encash_leave_balance_limit_min" placeholder="" pInputText />
                                            <label for="ch1" class="col-12 md:col-3">Days</label>

                                        </div>
                                    </div>

                                    <div class=" col-12 md:col-6">
                                        <label pTooltip="Encashment amount" tooltipPosition="top">Encashment amount<span class="req"></span></label>
                                        <div class="field-checkbox mb-0 mt-2">
                                            <input id="lastname2" type="number"  min="0" (input)="checkPercentageAmount()" formControlName="encash_amount_percent" placeholder="" pInputText />
                                            <label for="ch1" class="col-12 md:col-4">% off</label>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="field col-12 md:col-6 float-right">

                                <div class="grid ">
                                    <div class=" col-12 md:col-9 ">
                                        <label pTooltip="Salary Head" tooltipPosition="top">Salary Head<span class="req"></span></label>

                                        <div class="field-checkbox mb-0 mt-2">
                                            <p-checkbox name="is_gross" formControlName="is_gross"(onChange)="checkIsGross()" binary="true" id="ch1"></p-checkbox>
                                            <label for="ch1" class="col-12 md:col-3">Gross or</label>
                                            <p-dropdown [options]="salaryheads" formControlName="salary_head_id" placeholder="Select Salary Head"
                                                        optionLabel="salary_head_name" optionValue="salary_head_id" (onChange)="checkPrimaryHead()" [showClear]="true" [filter]="true" filterBy="division_name"></p-dropdown>

                                        </div>
                                    </div>

                                    <div class=" col-12 md:col-3">
                                        <label pTooltip="Amount" tooltipPosition="top"> Or Amount<span class="req"></span></label>
                                        <div class="field-checkbox mb-0 mt-2">

                                            <input id="firstname2" type="number"  min="0" (input)="checkPercentageAmount()" formControlName="encash_fixed_amount" placeholder="" pInputText />

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="field col-12 md:col-6 float-right">
                                <label pTooltip="Activation after" tooltipPosition="top">Activation after<span class="req"></span></label>

                                <div class="grid">
                                    <div class=" col-12 md:col-12">

                                        <div class="field-checkbox mb-0">

                                            <input id="firstname2"type="number"  min="0" formControlName="activation_days" placeholder="" pInputText />

                                            <label for="ch1" class="col-12 md:col-2"> Days of</label>
                                            <p-radioButton name="is_activation_on_joining" [value]="true" [(ngModel)]="selectedJoiningValue" binary="true" formControlName="is_activation_on_joining" id="city1"></p-radioButton>
                                            <label for="city1" class="md:mr-3">Joining</label>
                                            <p-radioButton name="is_activation_on_joining" [value]="false" [(ngModel)]="selectedJoiningValue" binary="true" formControlName="is_activation_on_joining" id="city1"></p-radioButton>
                                            <label for="city1">Confirmation</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="flex justify-content-end pr-2">
                        <button pButton pRipple type="button" label="Save" (click)="saveLeavePolicy()"  class="risBtn risSave mr-2 mb-2" icon="pi pi-check"></button>
                        <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                    </div>


                </form>
            </div>
            <!--end form display------------->

            <div [hidden]="gridDisplay">
                <!--<div class=" col-12 md:col-6 ml-0 mb-2">
                    <input  type="text" style="width:320px" maxlength="50" placeholder="Search By Policy Name Or Leave Head Name" id="policy_name" name="policy_name" (keyup.enter)="policyNameSearch($event)" class="from-control" pInputText />

                </div>-->

                <button pButton pRipple type="button" label="New" (click)="showBasicDialog()" icon="pi pi-plus" class="risBtn risAdd mr-2 mb-2"></button>
                <button pButton pRipple type="button" label="Edit" (click)="loadRosterPolicyToEdit()" icon="pi pi-pencil" class="risBtn risEdit mr-2 mb-2"></button>
                <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" class="risBtn risDelete mr-2 mb-2" (click)="deleteModal($event)"> </button>
                <button pButton pRipple type="button" label="Activity" icon="pi pi-box" class="risBtn risAll mr-2 mb-2"> </button>
                <button pButton pRipple type="button" label="Approve" icon="pi pi-box" class="risBtn risAll mr-2 mb-2" (click)="approveModal($event)"> </button>
                <button pButton pRipple type="button" label="Copy" icon="pi pi-copy" class="risBtn risAll mr-2 mb-2" (click)="copyModal($event)"> </button>
                <p-confirmPopup key="approve"></p-confirmPopup>
                <p-confirmPopup key="delete"></p-confirmPopup>
                <p-confirmPopup key="copy"></p-confirmPopup>
                <p-table [value]="leavePolicies" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" [paginator]="true" [rows]="10" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [(selection)]="selectedPolicy" dataKey="leave_policy_id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [globalFilterFields]="['leave_policy_name','leave']">

                    <ng-template pTemplate="caption">
                        <div class="flex">

                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search By Policy Or leave " />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Policy Name</th>
                            <th>Remarks</th>
                            <th>Leave</th>
                            <th>Total Leave</th>
                            <th>Activation</th>
                            <th>Max enjoyable limit</th>
                            <th>Activity</th>
                            <th>Approved By</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-leavePolicy>
                        <tr [pSelectableRow]="leavePolicy">

                            <td>{{leavePolicy.leave_policy_name}}</td>
                            <td>{{leavePolicy.remarks}}</td>
                            <td>{{leavePolicy.leave_head_short_name}}</td>
                            <td>{{leavePolicy.default_leave_balance_day}}</td>
                            <td>{{leavePolicy.activationdays}}</td>
                            <td>{{leavePolicy.max_enjoyable_limit}}</td>
                            <td *ngIf="leavePolicy.is_active===true">{{"Active"}}</td>
                            <td *ngIf="leavePolicy.is_active===false">{{"InActive"}}</td>
                            <td>{{leavePolicy.approvedBy}}</td>


                        </tr>
                    </ng-template>

                </p-table>
                <!--end grid display -------------->
            </div>



        </div>
    </div>
</div>
