<div class="p-card">

    <div class="me-auto">
        <div class="p-card-title ">
            <span class="pi pi-banks"> Bank Information</span>
        </div>
        <div class="p-card-body">
            <!-- ********** start card body ******************** -->

            <div class="grid mb-2">
                <button class="pi pi-plus risBtn risAdd mr-2 ml-2" (click)="showBasicDialog()"> New</button>
                <button class="pi pi-pencil risBtn risEdit mr-2" (click)="loadBankToEdit()"> Edit</button>
                <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
            </div>
            <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
                <p>Do you want to delete this record?</p>
                <ng-template pTemplate="footer">
                    <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                    <button class="pi pi-check risBtn risSave" (click)="deleteBankInfo()"> Yes</button>
                </ng-template>
            </p-dialog>
            <form action="" [formGroup]="bankForm">
                <p-dialog header="Bank Information" maskStyleClass="xl-dialog" [(visible)]="displayBasic" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '62vw'}" [baseZIndex]="10000" [maximizable]="true">

                    <div class="card">
                        <p-tabView>
                            <p-tabPanel header="General">
                                <div class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container">
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Name<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" formControlName="bank_name" type="text" placeholder="Bank Name"
                                                       pInputText autocomplete="off">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Short Name</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" formControlName="bank_short_name" type="text" placeholder="Bank Short Name"
                                                       pInputText autocomplete="off">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Swift Code<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" formControlName="bank_swift_code" type="text" placeholder="Bank Swift Code"
                                                       pInputText autocomplete="off">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Email :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" formControlName="bank_email" type="text" placeholder="Bank Email"
                                                       pInputText autocomplete="off">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Web :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" formControlName="bank_web_url" type="text" placeholder="Bank Web URL"
                                                       pInputText autocomplete="off">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Remarks :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <textarea rows="2" id="float-input p-fluid" formControlName="remarks" class="inputfield w-full" cols="50" pInputTextarea></textarea>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4  text-right">
                                        </div>
                                        <div class="col-8 fluid">
                                            <div class="formgroup-inline">
                                                <div class="field-radiobutton">
                                                    <input type="radio" value="true" formControlName="is_bank" inputId="bank" checked>
                                                    <label for="local">Bank</label>
                                                </div>
                                                <div class="field-radiobutton ml-2">
                                                    <input type="radio" value="false" formControlName="is_bank" inputId="non-bank">
                                                    <label for="foreign">Non Bank</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4  text-right">
                                        </div>
                                        <div class="col-8 fluid">
                                            <div class="formgroup-inline">
                                                <div class="field-radiobutton">
                                                    <input type="radio" value="true" formControlName="is_local" inputId="local" checked>
                                                    <label for="local">Local</label>
                                                </div>
                                                <div class="field-radiobutton ml-2">
                                                    <input type="radio" value="false" formControlName="is_local" inputId="foreign">
                                                    <label for="foreign">Foreign</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Address">
                                <div class="p-fluid grid col-12 flex justify-content-start flex-wrap card-container">

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Country<span class="req">*</span> :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allCountry" [(ngModel)]="selectedCountry" formControlName="country_id" placeholder="Select Country"
                                                            optionLabel="country_name" optionValue="country_id" (onChange)="onSelectByCountryId($event.value)" [showClear]="true" [filter]="true" filterBy="country_name"></p-dropdown>

                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Division :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allDivision" [(ngModel)]="selectedDivision" formControlName="division_id" placeholder="Select Division"
                                                            optionLabel="division_name" optionValue="division_id" (onChange)="onSelectByDivisionId($event.value)" [showClear]="true" [filter]="true" filterBy="division_name"></p-dropdown>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">District :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="allDistrict" [(ngModel)]="selectedDistrict" formControlName="district_id" placeholder="Select District"
                                                            optionLabel="district_name" optionValue="district_id" [showClear]="true" [filter]="true" filterBy="district_name"></p-dropdown>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">City/Town :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="city" placeholder="City/Town" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">P.S/Area :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="ps_area" placeholder="P.S/Area" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Post Code :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="post_code" placeholder="Post Code" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Block :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="block" placeholder="Block" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Road No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="road_no" placeholder="Road No" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">House No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="house_no" placeholder="House No" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Flat No :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">
                                                <input id="float-input p-fluid" type="text" formControlName="flat_no" placeholder="Flat No" pInputText>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="p-fluid grid col-6 flex justify-content-start flex-wrap card-container">
                                        <div class="col-4 mt-2 text-right">
                                            <label for="" class=" d-md-inline-flex">Address Note :</label>
                                        </div>
                                        <div class="col-8 p-fluid">
                                            <span class="p-float-label">

                                                <textarea rows="2" id="float-input p-fluid" formControlName="address_note" class="inputfield w-full" cols="50" pInputTextarea></textarea>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>
                        </p-tabView>

                    </div>


                    <ng-template pTemplate="footer">
                        <button type="submit" class="pi pi-save risBtn risSave" (click)="onFormSubmit()"> Save</button>
                        <button class="pi pi-times risBtn risClose" (click)="displayBasic=false"> Close</button>
                    </ng-template>
                </p-dialog>
            </form>
            <div class="card">

                <p-table [value]="banks" [paginator]="true" selectionMode="single" [(selection)]="selectedBank" dataKey="BankName" styleClass="p-datatable-striped" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Short Name</th>
                            <th>City</th>
                            <th>Remarks</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-bank>
                        <tr (click)="selectRow(bank)" [pSelectableRow]="bank">
                            <td>{{bank.BankName}}</td>
                            <td>{{bank.BankShortName}}</td>
                            <td>{{bank.City}}</td>
                            <td>{{bank.Remarks}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- ********** end card body ******************** -->
        </div>
    </div>
</div>
