<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Dealer Assessment List</h4>
            <div [hidden]="formDisplay">
                <p-tabView [activeIndex]="index" (onChange)="function($event)">
                    <p-tabPanel header="General Info">
                        <form action="" [formGroup]="dealerinfoForm">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label>Dealer Code</label>
                                        <input pInputText type="text" formControlName="dealer_info_code" placeholder="<<Auto Generate>>" disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Image" tooltipPosition="top">Image </label>
                                        <div class=" inputWrapper photo-signature align-self-end flex align-items-center ">
                                            <img class="risBtn m-1" [src]="photourllink" style="width: 100px;" alt="">
                                            <input type="file" formControlName="logo_path" class="fileInput risBtn risAdd " style="width: 100px;" #userImage (change)="onSelectImage($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field form-group col-12 md:col-6">
                                        <label>Dealer Name:</label>
                                        <input pInputText type="text" class="from-control" formControlName="dealer_info_name" disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Dealer Short Name</label>
                                        <input pInputText type="text" formControlName="dealer_info_short_name" disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label> Dealer Display Name </label>
                                        <input type="text" formControlName="dealer_info_display_name" pInputText disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Domicile</label>
                                        <p-dropdown [options]="allDomicile" formControlName="domicile_enum_id" optionLabel="domicile_enum_name" optionValue="domicile_enum_id" [disabled]="true"></p-dropdown>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Trade License </label>
                                        <input pInputText type="text" formControlName="trade_license" disabled />


                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Year Established </label>
                                        <p-calendar formControlName="year_established"  [disabled]="true"></p-calendar>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>TIN No </label>
                                        <input type="text" formControlName="TIN" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>BIN No </label>
                                        <input type="text" formControlName="BIN" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Mobile  </label>
                                        <input type="text" formControlName="mobile" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Phone </label>
                                        <input type="text" formControlName="phone" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Email </label>
                                        <input type="email" formControlName="email" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Web </label>
                                        <input type="text" formControlName="web_url" disabled pInputText />
                                    </div>


                                </div>
                            </div>
                        </form>
                        <div class="flex justify-content-end pr-2">
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Business Info">
                        <form action="" [formGroup]="dealerinfoForm">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label>Ownership Type </label>
                                        <p-dropdown [options]="allOwnershipType" formControlName="ownership_type_id" [disabled]="true"
                                                    optionLabel="ownership_type_name" optionValue="ownership_type_id" [showClear]="true" [filter]="true" filterBy="ownership_type_name"></p-dropdown>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Business Type </label>
                                        <p-dropdown [options]="allBusinessActivities" formControlName="business_type_enum_id" [disabled]="true"
                                                    optionLabel="business_type_enum_name" optionValue="business_type_enum_id" [showClear]="true" [filter]="true" filterBy="business_type_enum_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Indusrty Sector </label>
                                        <p-dropdown [options]="allIndustrySector" formControlName="industry_sector_id" [disabled]="true"
                                                    optionLabel="industry_sector_name" optionValue="industry_sector_id" (onChange)="onSelectBySectorId($event.value)" [showClear]="true" [filter]="true" filterBy="industry_sector_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Indusrty SubSector </label>
                                        <p-dropdown [options]="allIndustrySubSector" formControlName="industry_sub_sector_id" [disabled]="true"
                                                    optionLabel="industry_sub_sector_name" optionValue="industry_sub_sector_id" [showClear]="true" [filter]="true" filterBy="industry_sector_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Registry Authority </label>
                                        <p-dropdown [options]="allRegisterAuthority" formControlName="registry_authority_id" [disabled]="true"
                                                    optionLabel="registry_authority_name" optionValue="registry_authority_id" [showClear]="true" [filter]="true" filterBy="registry_authority_name"></p-dropdown>

                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Organazation Type </label>
                                        <p-dropdown [options]="allOrganazationType" formControlName="organization_type_enum_id" [disabled]="true"
                                                    optionLabel="organization_type_enum_name" optionValue="organization_type_enum_id" [showClear]="true" [filter]="true" filterBy="organization_type_enum_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Regulator</label>
                                        <p-dropdown [options]="allRegulator" formControlName="regulator_id" [disabled]="true"
                                                    optionLabel="regulator_name" optionValue="regulator_id" [showClear]="true" [filter]="true" filterBy="regulator_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Currency </label>
                                        <p-dropdown [options]="allCurrency" formControlName="currency_id" [disabled]="true"
                                                    optionLabel="currency_name" optionValue="currency_id" [showClear]="true" [filter]="true" filterBy="currency_name"></p-dropdown>

                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="flex justify-content-end pr-2">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Address Info">
                        <form action="" [formGroup]="dealerinfoForm">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label>Continent</label>
                                        <p-dropdown [options]="allContinent" formControlName="continent_enum_id" [disabled]="true"
                                                    optionLabel="continent_enum_name" optionValue="continent_enum_id" (onChange)="onSelectByCountryId($event.value)" [showClear]="true" [filter]="true" filterBy="continent_enum_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label >Country</label>
                                        <p-dropdown [options]="allCountry" formControlName="country_id" [disabled]="true"
                                                    optionLabel="country_name" optionValue="country_id" (onChange)="onSelectByCountryId($event.value)" [showClear]="true" [filter]="true" filterBy="country_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Division</label>
                                        <p-dropdown [options]="allDivision" formControlName="division_id" [disabled]="true"
                                                    optionLabel="division_name" optionValue="division_id" (onChange)="onSelectByDivisionId($event.value)" [showClear]="true" [filter]="true" filterBy="division_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>District</label>
                                        <p-dropdown [options]="allDistrict" formControlName="district_id" [disabled]="true"
                                                    optionLabel="district_name" optionValue="district_id" (onChange)="onSelectByDistrictId($event.value)" [showClear]="true" [filter]="true" filterBy="district_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Thana</label>
                                        <p-dropdown [options]="allThana" formControlName="thana_id" [disabled]="true"
                                                    optionLabel="thana_name" optionValue="thana_id" [showClear]="true" [filter]="true" filterBy="thana_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Zone</label>
                                        <p-dropdown [options]="allZone" formControlName="zone_id" [disabled]="true"
                                                    optionLabel="zone_name" optionValue="zone_id" [showClear]="true" [filter]="true" filterBy="zone_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label >City/Town </label>
                                        <input type="text" formControlName="city" disabled pInputText />
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label>Post Code </label>
                                        <input type="text" formControlName="post_code" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Block </label>
                                        <input type="text" formControlName="block" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Road No </label>
                                        <input type="text" formControlName="road_no" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>House No </label>
                                        <input type="text" formControlName="house_no" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Flat No </label>
                                        <input type="text" formControlName="flat_no" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label>Address Note </label>
                                        <input type="text" formControlName="address_note" disabled pInputText />
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="flex justify-content-end pr-2">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Financial Info">
                        <form action="" [formGroup]="dealerinfoForm">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label>Internal Credit Rating</label>
                                        <input type="text" formControlName="internal_credit_rating" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Prefered Method</label>
                                        <p-dropdown [options]="allPreferredMethod" formControlName="prefered_method_enum_id" [disabled]="true"
                                                    optionLabel="prefered_method_enum_name" optionValue="prefered_method_enum_id" [showClear]="true" [filter]="true" filterBy="prefered_method_enum_name"></p-dropdown>

                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Maximum Credit</label>
                                        <input type="text" formControlName="maximum_credit" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Allowable Credit</label>
                                        <input type="text" formControlName="allowable_credit" disabled pInputText readonly />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Credit Days </label>
                                        <input type="text" formControlName="credit_days" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label >Security Requirment</label>
                                        <p-dropdown [options]="allSecurityType" formControlName="security_type_enum_id" [disabled]="true"
                                                    optionLabel="security_type_enum_name" optionValue="security_type_enum_id" [showClear]="true" [filter]="true" filterBy="security_type_enum_name"></p-dropdown>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="flex justify-content-end pr-2">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Contact Info">
                        <div [hidden]="gridDisplayContact">
                            <p-table [value]="dealercontactinfoList" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                     [(selection)]="selecteddealercontactinfo" dataKey="DealerContactInfoId" (onRowSelect)="onRowSelectContact($event)" (onRowUnselect)="onRowUnselectContact($event)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!--<th pSortableColumn="PersonalPhone">Id</th>-->
                                        <th pSortableColumn="Code">
                                            Dealer Contact Code
                                            <p-columnFilter type="text" field="DealerContactInfoCode" display="menu"></p-columnFilter>
                                            <p-sortIcon field="Code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="DealerinfoName">
                                            Contact Person Name
                                            <p-columnFilter type="text" field="DealerinfoName" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="PersonalPhone">Person Degignation</th>
                                        <th pSortableColumn="PersonalPhone">Mobile</th>
                                        <th pSortableColumn="PersonalEmail">Email</th>
                                        <th pSortableColumn="PresentAddressNote">Emergency Contact</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-dealercontactinfo let-rowDataContact let-columns="columns">

                                    <tr [pSelectableRow]="dealercontactinfo">
                                        <td hidden>{{dealercontactinfo.DealerInfoId}}</td>
                                        <td>{{dealercontactinfo.DealerContactInfoCode}}</td>
                                        <td>{{dealercontactinfo.PersonName}}</td>
                                        <td>{{dealercontactinfo.PersonDesignation}}</td>
                                        <td>{{dealercontactinfo.Mobile}}</td>
                                        <td>{{dealercontactinfo.Email}}</td>
                                        <td>{{dealercontactinfo.EmergencyContact}}</td>
                                    </tr>
                                </ng-template>

                            </p-table>
                            <!--end grid display -------------->
                        </div>
                        <div class="flex next-previous">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Location Info">
                        <div [hidden]="gridDisplayLocation">
                            <p-table [value]="dealerlocationinfoList" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                     [(selection)]="selecteddealerlocationinfo" dataKey="DealerLocationInfoId" (onRowSelect)="onRowSelectLocation($event)" (onRowUnselect)="onRowUnselectLocation($event)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!--<th pSortableColumn="PersonalPhone">Id</th>-->
                                        <th pSortableColumn="Code">
                                            Dealer Location Code
                                            <p-columnFilter type="text" field="DealerLocationInfoCode" display="menu"></p-columnFilter>
                                            <p-sortIcon field="Code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="DealerLocationInfoName">
                                            Dealer Location Name
                                            <p-columnFilter type="text" field="DealerLocationInfoName" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="PersonalPhone">Mobile</th>
                                        <th pSortableColumn="PersonalEmail">Email</th>
                                        <th pSortableColumn="PresentAddressNote">Emergency Contact</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-dealerlocationinfo let-rowDataLocation let-columns="columns">

                                    <tr [pSelectableRow]="dealerlocationinfo">
                                        <td hidden>{{dealerlocationinfo.DealerInfoId}}</td>
                                        <td>{{dealerlocationinfo.DealerLocationInfoCode}}</td>
                                        <td>{{dealerlocationinfo.DealerLocationInfoName}}</td>
                                        <td>{{dealerlocationinfo.Mobile}}</td>
                                        <td>{{dealerlocationinfo.Email}}</td>
                                        <td>{{dealerlocationinfo.EmergencyLocation}}</td>
                                    </tr>
                                </ng-template>

                            </p-table>
                            <!--end grid display -------------->
                        </div>
                        <div class="flex next-previous">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Document Info">
                        <div [hidden]="gridDisplayDocument">
                            <p-table [value]="dealerdocumentinfoList" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" selectionMode="single"
                                     [(selection)]="selecteddealerdocumentinfo" dataKey="DealerDocumentInfoId" (onRowSelect)="onRowSelectDocument($event)" (onRowUnselect)="onRowUnselectDocument($event)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Document Type</th>
                                        <th>Document Number</th>
                                        <th>Issue Date</th>
                                        <th>Expiry Date</th>
                                        <th>Uploaded File</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-dealerdocumentinfo let-rowDataDocument let-columns="columns">

                                    <tr [pSelectableRow]="dealerdocumentinfo">
                                        <td hidden>{{dealerdocumentinfo.DealerInfoId}}</td>
                                        <td hidden>{{dealerdocumentinfo.DealerDocumentInfoId}}</td>
                                        <td>{{dealerdocumentinfo.DocumentTypeName}}</td>
                                        <td>{{dealerdocumentinfo.DocumentNumber}}</td>
                                        <td>{{dealerdocumentinfo.IssueDate | date: 'dd/MMM/yyyy'}}</td>
                                        <td>{{dealerdocumentinfo.ExpiryDate | date: 'dd/MMM/yyyy'}}</td>
                                        <td>{{dealerdocumentinfo.FileUpload}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <!--end grid display -------------->

                        </div>
                        <div class="flex next-previous">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Credit Info">
                        <div [hidden]="gridDisplayCredit">
                            <p-table [value]="dealercreditinfoList" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" selectionMode="single"
                                     [(selection)]="selecteddealercreditinfo" dataKey="DealerCreditInfoId" (onRowSelect)="onRowSelectCredit($event)" (onRowUnselect)="onRowUnselectCredit($event)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Security Deposit</th>
                                        <th>Security Type</th>
                                        <th>Amount</th>
                                        <th>Expiry Date</th>
                                        <th>Remarks</th>
                                        <th>Attachment</th>
                                        <th>Status</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-dealercreditinfo let-rowDataCredit let-columns="columns">

                                    <tr [pSelectableRow]="dealercreditinfo">
                                        <td hidden>{{dealercreditinfo.DealerInfoId}}</td>
                                        <td hidden>{{dealercreditinfo.DealerCreditInfoId}}</td>
                                        <td>{{dealercreditinfo.SecurityDepositName}}</td>
                                        <td>{{dealercreditinfo.SecurityDepositType}}</td>
                                        <td>{{dealercreditinfo.Amount}}</td>
                                        <td>{{dealercreditinfo.ExpiryDate | date: 'dd/MMM/yyyy'}}</td>
                                        <td>{{dealercreditinfo.Remarks}}</td>
                                        <td>{{dealercreditinfo.FileUpload}}</td>
                                        <td *ngIf="dealercreditinfo.IsApproved===true">{{"Approved"}}</td>
                                        <td *ngIf="dealercreditinfo.IsApproved===false">{{"Pending"}}</td>
                                    </tr>

                                </ng-template>

                            </p-table>
                            <!--end grid display -------------->
                        </div>
                        <div class="flex next-previous">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="openNext()" label="Next" class="risBtn  mr-2 mb-2" icon="pi pi-step-forward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Assessment">
                        <!--<form action="" [formGroup]="dealerinfoForm">
                            <div class="col-12">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field form-group col-12 md:col-6">
                                        <label>Dealer Name:</label>
                                        <input pInputText type="text" class="from-control" formControlName="dealer_info_name" disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Dealer Short Name</label>
                                        <input pInputText type="text" formControlName="dealer_info_short_name" disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label> Dealer Display Name </label>
                                        <input type="text" formControlName="dealer_info_display_name" pInputText disabled />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label>Domicile</label>
                                        <p-dropdown [options]="allDomicile" formControlName="domicile_enum_id" optionLabel="domicile_enum_name" optionValue="domicile_enum_id" readonly></p-dropdown>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Trade License" tooltipPosition="top">Trade License </label>
                                        <input pInputText type="text" formControlName="trade_license" disabled />


                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Year Established" tooltipPosition="top">Year Established </label>
                                        <p-calendar formControlName="year_established" disabled [showIcon]="true" [showButtonBar]="true"></p-calendar>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip=" TIN No" tooltipPosition="top">TIN No </label>
                                        <input type="text" formControlName="TIN" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="BIN No" tooltipPosition="top">BIN No </label>
                                        <input type="text" formControlName="BIN" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Mobile" tooltipPosition="top">Mobile  </label>
                                        <input type="text" formControlName="mobile" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Phone" tooltipPosition="top">Phone </label>
                                        <input type="text" formControlName="phone" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Email" tooltipPosition="top">Email </label>
                                        <input type="email" formControlName="email" disabled pInputText />
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label pTooltip="Web" tooltipPosition="top">Web </label>
                                        <input type="text" formControlName="web_url" disabled pInputText />
                                    </div>


                                </div>
                            </div>
                        </form>-->
                        <div class="flex next-previous">
                            <button pButton pRipple type="button" (click)="openPrev()" label="Previous" class="risBtn  mr-2 mb-2" icon="pi pi-step-backward"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div [hidden]="gridDisplay">
                <p-table #dt [value]="dealerAssessmentList" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" [paginator]="true" [rows]="10" selectionMode="single" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [(selection)]="selecteddealerAssessment" dataKey="DealerInfoId" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['DealerInfoCode','DealerInfoName']" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search by any" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="Code">
                                Dealer Name
                                <p-columnFilter type="text" field="DealerInfoCode" display="menu"></p-columnFilter>
                                <p-sortIcon field="Code"></p-sortIcon>
                            </th>
                            <th pSortableColumn="DealerinfoName">
                                Mobile
                                <p-columnFilter type="text" field="DealerinfoName" display="menu"></p-columnFilter>
                            </th>
                            <th pSortableColumn="PersonalPhone">Department</th>
                            <th pSortableColumn="PersonalPhone">Assign Person</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dealerAssessment let-rowData>
                        <tr [pSelectableRow]="dealerAssessment">
                            <td hidden>{{dealerAssessment.DealerInfoId}}</td>
                            <td>{{dealerAssessment.DealerInfoName}}</td>
                            <td>{{dealerAssessment.Mobile}}</td>
                            <td>{{dealerAssessment.DepartmentName}}</td>
                            <td>{{dealerAssessment.EmployeeName}}</td>
                            <td class="text-orange-400" *ngIf="!dealerAssessment.is_verified">{{"Pending Assessment"}}</td>
                            <td>
                                <button class="pi pi-pencil risBtn risView mr-2" (click)="viewDealerinfo(rowIndex,dealerAssessment)"> View </button>
                                <button class="pi pi-plus risBtn risAdd mr-2" (click)="showBasicDialog()"> Assessment </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>


