<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Organogram List</h5>
            <div [hidden]="formDisplay">
                <form action="" [formGroup]="organogramForm">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="p-fluid p-formgrid grid">

                                <div class="field col-6 md:col-6">
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Group Name" tooltipPosition="top">Group</label>
                                        <input id="float-input p-fluid" disabled type="text" formControlName="Group" pInputText>
                                    </div>

                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Company" tooltipPosition="top">Company</label>
                                        <input id="float-input p-fluid" disabled type="text" formControlName="Company" pInputText>
                                    </div>

                                </div>
                                <div class="field col-6 md:col-6">
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Organogram Code" tooltipPosition="top">Code</label>
                                        <input id="float-input p-fluid" type="text" formControlName="organogram_code" pInputText>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Location/Branch" tooltipPosition="top">Location/Branch</label>
                                        <input id="float-input p-fluid" disabled type="text" formControlName="location_name" pInputText>
                                    </div>
                                </div>
                                <!--<div class="field col-12 md:col-12">


                                </div>-->
                                <div class="field col-6 md:col-6">
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Department" tooltipPosition="top">Department<span class="req">*:</span></label>

                                        <!--<input id="float-input p-fluid" type="text" formControlName="department" pInputText>-->
                                        <p-dropdown [options]="drpdwnDepartmentList" formControlName="department_id" placeholder="--Select--" [ngClass]="{ 'is-invalid': submitted && f.department_id.errors }"
                                                    optionLabel="department_name" optionValue="department_id" [showClear]="true" [filter]="true" filterBy="department_name">
                                        </p-dropdown>
                                        <div *ngIf="submitted && f.department_id.errors" class="invalid-feedback">
                                            <small *ngIf="f.department_id.errors.required" class="p-error">Department is required</small>
                                        </div>

                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="No Of Manpower" tooltipPosition="top">No of Manpower</label>
                                        <input id="float-input p-fluid" type="text" formControlName="min_no_of_manpower" pInputText>
                                    </div>

                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Budget" tooltipPosition="top">Budget</label>
                                        <input id="float-input p-fluid" type="text" formControlName="min_budget" pInputText>
                                    </div>
                                    <div class="field-radiobutton col-12 md:col-12">
                                        <p-radioButton name="is_open" value="0" binary="true" formControlName="is_open" label="Open"></p-radioButton>
                                        <p-radioButton name="is_open" value="1" binary="true" formControlName="is_open" label="Deferred"></p-radioButton>
                                    </div>



                                </div>
                                <div class="field col-6 md:col-6">
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Positions" tooltipPosition="top">Positions<span class="req">*:</span></label>
                                        <p-dropdown [options]="drpdwnPositionList" formControlName="position_id" placeholder="--Select--"
                                                    optionLabel="position_name" optionValue="position_id" [showClear]="true" [filter]="true" filterBy="position_name">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="To" tooltipPosition="top">to</label>
                                        <input id="float-input p-fluid" type="text" formControlName="max_no_of_manpower" pInputText>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="To" tooltipPosition="top">to</label>
                                        <input id="float-input p-fluid" type="text" formControlName="max_budget" pInputText>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <p-checkbox binary="true" formControlName="is_gross" label="Is Gross Or" inputId="binary"></p-checkbox>
                                        <p-dropdown [options]="drpdwnSalaryHeadList" formControlName="salary_head_id" placeholder="--Select--"
                                                    optionLabel="salary_head_name" optionValue="salary_head_id" [showClear]="true" [filter]="true" filterBy="position_name">
                                        </p-dropdown>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-6 md:col-6">
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Open" tooltipPosition="top">Year of Experience</label>
                                        <input id="float-input p-fluid" type="text" formControlName="min_year_of_experience" pInputText>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Open" tooltipPosition="top">Yearly Increment (%)</label>
                                        <input id="float-input p-fluid" type="text" formControlName="increment_percentage_yearly" pInputText>
                                    </div>
                                </div>
                                <div class="field col-6 md:col-6">
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="Open" tooltipPosition="top">To</label>
                                        <input id="float-input p-fluid" type="text" formControlName="max_year_of_experience" pInputText>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <label for="" class=" d-md-inline-flex" pTooltip="days from the date of join" tooltipPosition="top">Confirmation</label>
                                        <input id="float-input p-fluid" type="text" formControlName="days_of_confirmation" pInputText>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-left pr-2">
                            <button pButton pRipple type="button" (click)="addtoGrid()" label="Add" icon="pi pi-plus" class="risBtn risAdd mr-2 mb-2"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Remove" icon="pi pi-trash" class="risBtn risDelete mr-2 mb-2"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Activity" icon="pi pi-box" class="risBtn risAll mr-2 mb-2"></button>
                        </div>
                        <div class="col-12">
                            <div class="p-fluid p-formgrid grid">
                                <p-table #dt1 [value]="organogramDetailList" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedorganogramDetail" dataKey="organogram_detail_id" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped p-datatable-sm"
                                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Code</th>
                                            <th>Positions</th>
                                            <th>No of Man</th>
                                            <th>Budget</th>
                                            <th>Increment (%)</th>
                                            <th>Activity</th>
                                            <th>Experience</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-organogramDetail let-rowDetailData="rowDetailData" let-columns="columns">
                                        <tr [pSelectableRow]="organogramDetail">
                                            <td>{{organogramDetail.code}}</td>
                                            <td>{{organogramDetail.position_name}}</td>
                                            <td>{{organogramDetail.manpower}}</td>
                                            <td>{{organogramDetail.budget}}</td>
                                            <td>{{organogramDetail.increment_percentage_yearly}}</td>
                                            <td>{{organogramDetail.Activity}}</td>
                                            <td>{{organogramDetail.Experience}}</td>
                                            <!--<td *ngIf="employee.IsActive===true">{{"Active"}}</td>
                                            <td *ngIf="employee.IsActive===false">{{"InActive"}}</td>-->
                                        </tr>
                                    </ng-template>
                                     
                                </p-table>
                            </div>
                        </div>
                        <div class="flex justify-content-end pr-2">
                            <button pButton pRipple type="button" (click)="onGeneral()" label="Save" class="risBtn risSave mr-2 mb-2" icon="pi pi-check"></button>
                            <button pButton pRipple type="button" (click)="toggleFormClose()" label="Close" class="risBtn risClose mr-2 mb-2" icon="pi pi-times"></button>

                        </div>
                    </div>
                </form>
            </div>

            <div [hidden]="gridDisplay">

                <button pButton pRipple type="button" (click)="showBasicDialog()" label="New" icon="pi pi-plus" class="risBtn risAdd mr-2 mb-2"></button>
                <button pButton pRipple type="button" (click)="loadOrganogramToEdit()" label="Edit" icon="pi pi-pencil" class="risBtn risEdit mr-2 mb-2"></button>
                <button pButton pRipple type="button" (click)="showDialog()" label="Delete" icon="pi pi-trash" class="risBtn risDelete mr-2 mb-2"></button>
                <button pButton pRipple type="button" (click)="organogramActiveInactive()" label="Activity" icon="pi pi-box" class="risBtn risAll mr-2 mb-2"></button>
                <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
                    <p>Do you want to delete this record?</p>
                    <ng-template pTemplate="footer">
                        <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
                        <button class="pi pi-check risBtn risSave" (click)="deleteOrganogram()"> Yes</button>
                    </ng-template>
                </p-dialog>


                <p-treeTable [value]="OrganogramList" [columns]="cols" selectionMode="checkbox" [(selection)]="selectedorganogram" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
                    <!--<ng-template pTemplate="caption">
                        Organogram
                    </ng-template>-->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns; let i = index">
                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>
            </div>
        </div>
    </div>
</div>
