<div class="p-card">

  <div class="me-auto">
    <div class="p-card-title ">
      <span class="pi pi-businessNatures"> </span> Company Business Nature Information
    </div>
    <div class="p-card-body">
      <!-- ********** start card body ******************** -->

      <div class="card">
        <div class="grid mb-2">
          <button class="pi pi-plus risBtn risAdd mr-2 ml-2" (click)="showBasicDialog()"> New</button>
          <button class="pi pi-pencil risBtn risEdit mr-2" (click)="loadCompanyBusinessNatureToEdit()"> Edit</button>
          <button class="pi pi-trash risBtn risDelete mr-2" (click)="showDialog()"> Delete</button>
        </div>
        <p-dialog header="Delete Record" [(visible)]="display" [style]="{width: '35vw'}">
          <p>Do you want to delete this record?</p>
          <ng-template pTemplate="footer">
            <button class="pi pi-times risBtn risClose" (click)="display=false"> No</button>
            <button class="pi pi-check risBtn risSave" (click)="deleteCompanyBusinessNatureInfo()"> Yes</button>
          </ng-template>
        </p-dialog>

        <div class="card-body">

          <p-dialog header="Company Business Nature Information" [(visible)]="displayBasic" [draggable]="true" [resizable]="false" [style]="{width: '40vw',height:'20vw'}">
            <form action="" [formGroup]="businessNatureForm">
              <div class="">
                <div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Business Nature<span class="req">*</span> :</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <p-dropdown [options]="allCompanyBusinessNatureEnum" [(ngModel)]="selectedCompanyBusinessNatureEnum" formControlName="companyTypeBusinessEnumObj" placeholder="Select Business Nature"
                                  optionLabel="company_type_enum_name" optionValue="company_type_enum_id" [showClear]="true"></p-dropdown>
                    </span>
                  </div>
                </div>
                <div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Remarks :</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <span class="p-float-label">
                      <input id="float-input p-fluid" formControlName="remarks" type="text" placeholder="Remarks" pInputText autocomplete="off">
                    </span>
                  </div>
                </div>
                <!--<div class="p-fluid grid col-12">
                  <div class="col-4 mt-2 text-right">
                    <label for="" class=" d-none d-md-inline-flex">Is Active<span class="req">*</span> :</label>
                  </div>
                  <div class="col-8 p-fluid">
                    <p-checkbox formControlName="is_payment_monthly" binary="true" inputId="binary"  pl-1></p-checkbox>
                  </div>
                </div>-->
              </div>

            </form>
            <ng-template pTemplate="footer">
              <button type="submit" class="pi pi-save risBtn risSave" (click)="onFormSubmit()"> Save</button>
              <button class="pi pi-times risBtn risClose" (click)="displayBasic=false"> Close</button>
            </ng-template>
          </p-dialog>

          <!-- ************************start grid ************************ -->
          <p-table [value]="businessNatures" [paginator]="true" [rows]="10" styleClass="p-datatable-striped p-datatable-sm" [showCurrentPageReport]="true" selectionMode="single" [(selection)]="selectedCompanyBusinessNature" dataKey="company_business_nature_id"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">

            <ng-template pTemplate="header">
              <tr>
                <th>Remarks</th>
                <th>Status</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-businessNature>

              <tr (click)="selectRow(businessNature)" [pSelectableRow]="businessNature">
                <td>{{businessNature.remarks}}</td>
                <td>{{businessNature.is_active}}</td>
              </tr>
            </ng-template>
          </p-table>





        </div>

        <!-- ********** end card body ******************** -->

      </div>
    </div>
  </div>
</div>
